<nav class="main-nav flex flex-ai-c flex-jc-sb">
    <div class="top-logo flex flex-ai-c">
        <a href="/">Darkan</a>
    </div>
    <div class="hamburger hide-for-desktop">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="flex flex-ai-c hide-for-mobile">
        <a href="/highscores">Highscores</a>
    </div>
</nav>
<div class="main-container-highscores">
    <div class="sub-container-highscores">
        <div class="header-highscores header-image">
            <h1>Highscores</h1>
            <h2>Track, Compare, Achieve Rank #1</h2>
        </div>
        <div class="sub-header-hs">
            <h2 id="hs-overall">Overall</h2>
            <div class="flex flex-jc-c">
                <div class="select-hs flex">
                    <select class="filter-time-hs">
                        <optgroup label="Time period"></optgroup>
                        <option>All time</option>
                        <option>Monthly</option>
                        <option>Weekly</option>
                        <option>Daily</option>
                    </select>
                    <select class="filter-account-hs">
                        <optgroup label="Account type"></optgroup>
                        <option>All</option>
                        <option>Regular</option>
                        <option>Ironman</option>
                        <option>Hardcore Ironman</option>
                        <option>Ultimate Ironman</option>
                    </select>
                    <select class="filter-skill-hs">
                        <optgroup label="Skill"></optgroup>
                        <option>All</option>
                        <option>Attack</option>
                        <option>Strength</option>
                        <option>Defense</option>
                        <option>Ranged</option>
                        <option>Magic</option>
                        <option>Hitpoints</option>
                        <option>Prayer</option>
                        <option>Summoning</option>
                        <option>Runecrafting</option>
                        <option>Construction</option>
                        <option>Dungeoneering</option>
                        <option>Agility</option>
                        <option>Herblore</option>
                        <option>Theiving</option>
                        <option>Crafting</option>
                        <option>Fletching</option>
                        <option>Slayer</option>
                        <option>Hunter</option>
                        <option>Mining</option>
                        <option>Smithing</option>
                        <option>Fishing</option>
                        <option>Cooking</option>
                        <option>Firemaking</option>
                        <option>Woodcutting</option>
                        <option>Farming</option>
                    </select>
                </div>
            </div>
            <div class="flex flex-jc-c">
                <input id="search-user-hs" type="text" name="Username" placeholder="Search Username" value="">
            </div>
        </div>
        <div class="flex flex-jc-c">
            <table>
                <thead>
                    <th id="rank">Rank</th>
                    <th id="player">Player</th>
                    <th id="level">Total Level</th>
                    <th id="exp">Total Exp</th>
                </thead>
                <tbody>
                    <tr class="row-hover1">
                        <td><a href="#">1</a></td>
                        <td id="player"><a href="/highscores-player">Username</td>
                        <td><a href="#">2,600</td>
                        <td><a href="#">5,600,000</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><a href="#">1</a></td>
                        <td id="player"><a href="#">Username</td>
                        <td><a href="#">2,600</td>
                        <td><a href="#">5,600,000</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><a href="#">1</a></td>
                        <td id="player"><a href="#">Username</td>
                        <td><a href="#">2,600</td>
                        <td><a href="#">5,600,000</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><a href="#">1</a></td>
                        <td id="player"><a href="#">Username</td>
                        <td><a href="#">2,600</td>
                        <td><a href="#">5,600,000</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><a href="#">1</a></td>
                        <td id="player"><a href="#">Username</td>
                        <td><a href="#">2,600</td>
                        <td><a href="#">5,600,000</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><a href="#">1</a></td>
                        <td id="player"><a href="#">Username</td>
                        <td><a href="#">2,600</td>
                        <td><a href="#">5,600,000</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="pagination-container flex flex-jc-c">
            <div>
                <ul class="flex flex-ai-c">
                    <li class="prev-next"><i class="fas fa-arrow-left"></i></li>
                    <li><a href="#" class="pagination-link">1</a></li>
                    <li><a href="#" class="pagination-link">2</a></li>
                    <li><a href="#" class="pagination-link active">3</a></li>
                    <li class="page-dots">...</li>
                    <li><a href="#" class="pagination-link">10</a></li>
                    <li class="prev-next"><i class="fas fa-arrow-right"></i></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer class="flex flex-jc-sb flex-ai-c">
    <div class="site-map flex flex-ai-c flex-jc-c">
        <a href="#" class="hide-for-desktop">Site Map</a>
        <div class="hide-for-mobile">
            <a href="/">Home</a>
            <a href="/highscores">Highscores</a>
        </div>        
    </div>
    <div></div>
        <a href="/">Darkan</a>
    </div>
    <div class="legal flex flex-ai-c flex-jc-c">
        <p>No in-game purchases</p>
        <p>Darkan @ 2022</p>
        <div>
            <a href="/terms">Terms</a>
            <a href="/privacy-policy">Privacy</a>
        </div>
    </div>
</footer>