<nav class="nav-wrapper">
        <div class="nav-container">
            <div class="top-logo flex flex-ai-c">
                <a href="/">Darkan</a>
            </div>
            <div class="nav-links flex flex-ai-c">
                <div class="dropdown">
                    <p class="dropbtn flex flex-ai-c">Explore<i class="fas fa-caret-down dwn-arrow"></i></p>
                        <div class="dropdown-content">
                            <ul class="dropdown-links">
                                <li><a href="#">Discord</a></li>
                                <li><a href="https://github.com/orgs/DarkanRS/repositories" target="_blank" rel="noopener noreferrer" class="cta-developers">Github</a></li>
                            </ul>
                        </div>
                </div>
                <a href="/highscores">Highscores</a>
                <div class="dropdown">
                <p class="dropbtn flex flex-ai-c">Tools<i class="fas fa-caret-down dwn-arrow"></i></p>
                    <div class="dropdown-content">
                        <ul class="dropdown-links">
                            <li><a href="/world-map">World Map</a></li>
                            <li><a href="/api">API Documents</a></li>
                        </ul>
                    </div>
                </div>
                <a href="/assets/uploads/files/Darkan.exe" class="cta-dwnl">Download</a>
            </div>
        </div>
</nav>
<div class="main-container-highscores">
    <div class="sub-container-highscores">
        <div class="header-highscores">
            <h1>Highscores</h1>
            <h2>Track, Compare, Achieve Rank #1</h2>
        </div>
        <div class="sub-header-hs">
            <h3 class="hide-for-mobile" id="hs-overall">Overall</h3>
            <div class="filter-container">
                <div class="select-hs-container">
                    <div class="select-hs">
                        <select class="filter-time-hs">
                            <optgroup label="Time period"></optgroup>
                            <option>All time</option>
                            <option>Monthly</option>
                            <option>Weekly</option>
                            <option>Daily</option>
                        </select>
                        <select class="filter-account-hs">
                            <optgroup label="Account type"></optgroup>
                            <option>All accounts</option>
                            <option>Regular</option>
                            <option>Ironman</option>
                        </select>
                        <select class="filter-skill-hs">
                            <optgroup label="Skill"></optgroup>
                            <option>All skills</option>
                            <option>Attack</option>
                            <option>Strength</option>
                            <option>Defense</option>
                            <option>Ranged</option>
                            <option>Magic</option>
                            <option>Hitpoints</option>
                            <option>Prayer</option>
                            <option>Summoning</option>
                            <option>Runecrafting</option>
                            <option>Construction</option>
                            <option>Dungeoneering</option>
                            <option>Agility</option>
                            <option>Herblore</option>
                            <option>Theiving</option>
                            <option>Crafting</option>
                            <option>Fletching</option>
                            <option>Slayer</option>
                            <option>Hunter</option>
                            <option>Mining</option>
                            <option>Smithing</option>
                            <option>Fishing</option>
                            <option>Cooking</option>
                            <option>Firemaking</option>
                            <option>Woodcutting</option>
                            <option>Farming</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="flex flex-jc-c">
                <input id="search-user-hs" type="text" name="Username" placeholder="Search Username" value="">
            </div>
        </div>
        <div class="hs-table flex flex-jc-c">
            <table>
                <thead>
                    <th id="rank">Rank</th>
                    <th id="player">Player</th>
                    <th id="level">Total Level</th>
                    <th id="exp">Total Exp</th>
                </thead>
                <tbody>
                    <tr class="row-hover1">
                        <td><span id="player-rank">1</span></td>
                        <td id="player"><a href="/highscores-player">Username</td>
                        <td><p id="player-data-ttl">2,600</p></td>
                        <td><p id="player-data-exp">5,600,000</p></td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-rank">1</span></td>
                        <td id="player"><a href="/highscores-player">Username</td>
                        <td><p id="player-data-ttl">2,600</p></td>
                        <td><p id="player-data-exp">5,600,000</p></td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-rank">1</span></td>
                        <td id="player"><a href="/highscores-player">Username</td>
                        <td><p id="player-data-ttl">2,600</p></td>
                        <td><p id="player-data-exp">5,600,000</p></td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-rank">1</span></td>
                        <td id="player"><a href="/highscores-player">Username</td>
                        <td><p id="player-data-ttl">2,600</p></td>
                        <td><p id="player-data-exp">5,600,000</p></td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-rank">1</span></td>
                        <td id="player"><a href="/highscores-player">Username</td>
                        <td><p id="player-data-ttl">2,600</p></td>
                        <td><p id="player-data-exp">5,600,000</p></td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-rank">1</span></td>
                        <td id="player"><a href="/highscores-player">Username</td>
                        <td><p id="player-data-ttl">2,600</p></td>
                        <td><p id="player-data-exp">5,600,000</p></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination-container flex flex-jc-c">
            <div>
                <ul class="flex flex-ai-c">
                    <li class="prev-next"><i class="fas fa-arrow-left"></i></li>
                    <li><a href="#" class="pagination-link">1</a></li>
                    <li><a href="#" class="pagination-link">2</a></li>
                    <li><a href="#" class="pagination-link active">3</a></li>
                    <li class="page-dots">...</li>
                    <li><a href="#" class="pagination-link">10</a></li>
                    <li class="prev-next"><i class="fas fa-arrow-right"></i></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="site-map">
        <div class="f-link-container">
            <div class="f-link"><a href="/">Darkan</a></div>
            <div class="f-link"><a href="/download">Download</a></div>
            <div class="f-link"><a href="/highscores">Highscores</a></div>
            <div class="f-link"><a href="/#">Discord</a></div>
            <div class="f-link"><a href="https://github.com/orgs/DarkanRS/repositories" target="_blank" rel="noopener noreferrer" class="cta-developers">Developers</a></div>
            <div class="f-link"><p>No in-game purchases</p></div>
            <div class="f-link"><p>Darkan @ 2022</p></div>
        </div>        
    </div>
</footer>