<nav class="nav-wrapper">
        <div class="nav-container">
            <div class="top-logo flex flex-ai-c">
                <a href="/">Darkan</a>
            </div>
            <div class="nav-links flex flex-ai-c">
                <div class="dropdown">
                    <p class="dropbtn flex flex-ai-c">Explore<i class="fas fa-caret-down dwn-arrow"></i></p>
                        <div class="dropdown-content">
                            <ul class="dropdown-links">
                                <li><a href="#">Discord</a></li>
                                <li><a href="https://github.com/orgs/DarkanRS/repositories" target="_blank" rel="noopener noreferrer" class="cta-developers">Github</a></li>
                            </ul>
                        </div>
                </div>
                <a href="/highscores">Highscores</a>
                <div class="dropdown">
                <p class="dropbtn flex flex-ai-c">Tools<i class="fas fa-caret-down dwn-arrow"></i></p>
                    <div class="dropdown-content">
                        <ul class="dropdown-links">
                            <li><a href="/world-map">World Map</a></li>
                            <li><a href="/api">API Documents</a></li>
                        </ul>
                    </div>
                </div>
                <a href="/assets/uploads/files/Darkan.exe" class="cta-dwnl">Download</a>
            </div>
        </div>
</nav>
<div class="main-container-highscores-player">
    <div class="sub-container-highscores-player">
        <div class="header-highscores-player header-image">
            <h1><span id="player-id">Username</span></h1>
            <div><h2><span id="player-rank">1</span></h2></div>
        </div>
        <div class="sub-header-hs">
            <h2 id="hs-overall">Overall Stats</h2>
            <div class="flex flex-jc-c">
                <input id="search-user-hs" type="text" name="Username" placeholder="Search Username" value="">
            </div>
        </div>
        <div class="flex flex-jc-c">
            <table>
                <thead>
                    <th id="rank">Rank</th>
                    <th id="player">Skill</th>
                    <th id="level">Level</th>
                    <th id="exp">Total Exp</th>
                </thead>
                <tbody>
                    <tr class="row-hover1">
                        <td><span id="player-skill-rank">1</span></td>
                        <td id="player">
                            <div class="flex flex-ai-c"><img src="images/skill_icons/attack.png">Attack</div>
                        </td>
                        <td id="skill-level">99</td>
                        <td id="total-exp">13,034,431</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-skill-rank">1</span></td>
                        <td id="player">
                            <div class="flex flex-ai-c"><img src="images/skill_icons/strength.png">Strength</div>
                        </td>
                        <td id="skill-level">99</td>
                        <td id="total-exp">13,034,431</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-skill-rank">1</span></td>
                        <td id="player">
                            <div class="flex flex-ai-c"><img src="images/skill_icons/defense.png">Defense</div>
                        </td>
                        <td id="skill-level">99</td>
                        <td id="total-exp">13,034,431</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-skill-rank">1</span></td>
                        <td id="player">
                            <div class="flex flex-ai-c"><img src="images/skill_icons/ranged.png">Ranged</div>
                        </td>
                        <td id="skill-level">99</td>
                        <td id="total-exp">13,034,431</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-skill-rank">1</span></td>
                        <td id="player">
                            <div class="flex flex-ai-c"><img src="images/skill_icons/magic.png">Magic</div>
                        </td>
                        <td id="skill-level">99</td>
                        <td id="total-exp">13,034,431</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-skill-rank">1</span></td>
                        <td id="player">
                            <div class="flex flex-ai-c"><img src="images/skill_icons/prayer.png">Prayer</div>
                        </td>
                        <td id="skill-level">99</td>
                        <td id="total-exp">13,034,431</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-skill-rank">1</span></td>
                        <td id="player">
                            <div class="flex flex-ai-c"><img src="images/skill_icons/summoning.png">Summoning</div>
                        </td>
                        <td id="skill-level">99</td>
                        <td id="total-exp">13,034,431</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-skill-rank">1</span></td>
                        <td id="player">
                            <div class="flex flex-ai-c"><img src="images/skill_icons/runecrafting.png">Runecrafting</div>
                        </td>
                        <td id="skill-level">99</td>
                        <td id="total-exp">13,034,431</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-skill-rank">1</span></td>
                        <td id="player">
                            <div class="flex flex-ai-c"><img src="images/skill_icons/construction.png">Construction</div>
                        </td>
                        <td id="skill-level">99</td>
                        <td id="total-exp">13,034,431</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-skill-rank">1</span></td>
                        <td id="player">
                            <div class="flex flex-ai-c"><img src="images/skill_icons/dungeoneering.png">Dungeoneering</div>
                        </td>
                        <td id="skill-level">99</td>
                        <td id="total-exp">13,034,431</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-skill-rank">1</span></td>
                        <td id="player">
                            <div class="flex flex-ai-c"><img src="images/skill_icons/agility.png">Agility</div>
                        </td>
                        <td id="skill-level">99</td>
                        <td id="total-exp">13,034,431</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-skill-rank">1</span></td>
                        <td id="player">
                            <div class="flex flex-ai-c"><img src="images/skill_icons/herblore.png">Herblore</div>
                        </td>
                        <td id="skill-level">99</td>
                        <td id="total-exp">13,034,431</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-skill-rank">1</span></td>
                        <td id="player">
                            <div class="flex flex-ai-c"><img src="images/skill_icons/theiving.png">Theiving</div>
                        </td>
                        <td id="skill-level">99</td>
                        <td id="total-exp">13,034,431</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-skill-rank">1</span></td>
                        <td id="player">
                            <div class="flex flex-ai-c"><img src="images/skill_icons/crafting.png">Crafting</div>
                        </td>
                        <td id="skill-level">99</td>
                        <td id="total-exp">13,034,431</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-skill-rank">1</span></td>
                        <td id="player">
                            <div class="flex flex-ai-c"><img src="images/skill_icons/fletching.png">Fletching</div>
                        </td>
                        <td id="skill-level">99</td>
                        <td id="total-exp">13,034,431</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-skill-rank">1</span></td>
                        <td id="player">
                            <div class="flex flex-ai-c"><img src="images/skill_icons/slayer.png">Slayer</div>
                        </td>
                        <td id="skill-level">99</td>
                        <td id="total-exp">13,034,431</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-skill-rank">1</span></td>
                        <td id="player">
                            <div class="flex flex-ai-c"><img src="images/skill_icons/hunter.png">Hunter</div>
                        </td>
                        <td id="skill-level">99</td>
                        <td id="total-exp">13,034,431</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-skill-rank">1</span></td>
                        <td id="player">
                            <div class="flex flex-ai-c"><img src="images/skill_icons/mining.png">Mining</div>
                        </td>
                        <td id="skill-level">99</td>
                        <td id="total-exp">13,034,431</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-skill-rank">1</span></td>
                        <td id="player">
                            <div class="flex flex-ai-c"><img src="images/skill_icons/smithing.png">Smithing</div>
                        </td>
                        <td id="skill-level">99</td>
                        <td id="total-exp">13,034,431</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-skill-rank">1</span></td>
                        <td id="player">
                            <div class="flex flex-ai-c"><img src="images/skill_icons/fishing.png">Fishing</div>
                        </td>
                        <td id="skill-level">99</td>
                        <td id="total-exp">13,034,431</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-skill-rank">1</span></td>
                        <td id="player">
                            <div class="flex flex-ai-c"><img src="images/skill_icons/cooking.png">Cooking</div>
                        </td>
                        <td id="skill-level">99</td>
                        <td id="total-exp">13,034,431</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-skill-rank">1</span></td>
                        <td id="player">
                            <div class="flex flex-ai-c"><img src="images/skill_icons/firemaking.png">Firemaking</div>
                        </td>
                        <td id="skill-level">99</td>
                        <td id="total-exp">13,034,431</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-skill-rank">1</span></td>
                        <td id="player">
                            <div class="flex flex-ai-c"><img src="images/skill_icons/woodcutting.png">Woodcutting</div>
                        </td>
                        <td id="skill-level">99</td>
                        <td id="total-exp">13,034,431</td>
                    </tr>
                    <tr class="row-hover1">
                        <td><span id="player-skill-rank">1</span></td>
                        <td id="player">
                            <div class="flex flex-ai-c"><img src="images/skill_icons/farming.png">Farming</div>
                        </td>
                        <td id="skill-level">99</td>
                        <td id="total-exp">13,034,431</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer>
    <div class="site-map">
        <div class="f-link-container">
            <div class="f-link"><a href="/">Darkan</a></div>
            <div class="f-link"><a href="/download">Download</a></div>
            <div class="f-link"><a href="/highscores">Highscores</a></div>
            <div class="f-link"><a href="/#">Discord</a></div>
            <div class="f-link"><a href="https://github.com/orgs/DarkanRS/repositories" target="_blank" rel="noopener noreferrer" class="cta-developers">Developers</a></div>
            <div class="f-link"><p>No in-game purchases</p></div>
            <div class="f-link"><p>Darkan @ 2022</p></div>
        </div>        
    </div>
</footer>