<nav class="main-nav flex flex-ai-c flex-jc-sb">
    <div class="top-logo flex flex-ai-c">
        <a href="/">Darkan</a>
    </div>
    <div class="player-count-container flex flex-ai-c hide-for-mobile">
        <span id="player-count">100</span>
        <p>Online</p>
    </div>
    <div class="hamburger hide-for-desktop">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="flex flex-ai-c hide-for-mobile">
        <div class="dropdown">
            <p class="dropbtn flex flex-ai-c">Explore<i class="fas fa-caret-down dwn-arrow"></i></p>
                <div class="dropdown-content">
                    <ul class="dropdown-links">
                        <li><a href="/features">Features</a></li>
                        <li><a href="/guides">Guides</a></li>
                    </ul>
                </div>
        </div>
        <a href="/highscores">Highscores</a>
        <div class="dropdown">
        <p class="dropbtn flex flex-ai-c">Tools<i class="fas fa-caret-down dwn-arrow"></i></p>
            <div class="dropdown-content">
                <ul class="dropdown-links">
                    <li><a href="/ge-tracker">GE Tracker</a></li>
                    <li><a href="/skill-calculator">Skill Calculator</a></li>
                    <li><a href="/bug-reporter">Bug Reporter</a></li>
                    <li><a href="/world-map">World Map</a></li>
                    <li><a href="/api">API Documents</a></li>
                </ul>
            </div>
        </div>
        <a href="/create-account">Create account</a>
        <a href="/assets/uploads/files/Darkan.exe" class="cta-dwnl">Download</a>
    </div>
</nav>
<div class="main-container-hero flex flex-jc-c">
    <div class="sub-container-hero">
        <div class="g1-hero">
            <h1>Darkan</h1>
            <h2>Everything you want in a 2012 Runescape remake.</h2>
            <div class="dwn-client hide-for-mobile">
                <a href="/download" class="dwn-btn">Download</a>
            </div>
        </div>
        <div class="g2-form-container">
            <form class="g2-form">
                <div>
                    <div>
                        <div>
                        <input type="text" class="log-container" name="email" id="email" data-testid="#" placeholder="Email" autofocus="1" aria-label="Email">
                        </div>
                        <div>
                            <input type="password" class="pass-container" name="pass" id="pass" data-testid="#" placeholder="Password" aria-label="Password">
                        </div>
                    </div>
                    <button class="create-account">Create Account</button>
                    <div class="forget-pass">
                        <a href="#">Forget Password?</a>
                    </div>
                </div>
                <a href="#" class="cta-discord">Join Discord!</a>
            </form>
        </div>
    </div>
</div>
<section class="comm-data-container">
    <div class="comm-data-wrapper">
        <div class="comm-data flex flex-ai-c">
            <div class="comm-info">
                <strong><p>2012 Runescape</p></strong>
            </div>
            <div class="comm-info">
                <strong><p>100+ Accounts</p></strong>
            </div>
            <div class="comm-info">
                <strong><p>10+ Developers</p></strong>
            </div>
            <div class="comm-info">
                <strong><p>Open Source</p></strong>
            </div>
        </div>
    </div>
</section>
<section class="section-a-container">
    <div class="section-a-wrapper">
        <div class="section-a">
            <h2>Play Runescape in 2012</h2>
            <div class="game-content-container">
                <div class="game-content-wrapper">
                    <div class="game-content">
                        <div class="content-container1">
                            <div class="content-container">
                            <h3>A Remake, Not A RSPS</h3>
                            <strong><p>Experience the original content from the 2012 Runescape era, <a href="/features">plus QOL updates.</a></p></strong>
                            <div class="div1"></div>
                        </div>
                        </div>
                        <div class="content-container2">
                            <h3>Lorem ipsum dolor sit amet</h3>
                            <strong><p class="levels">Lorem, ipsum dolor sit amet consectetur elit.</p></strong>
                            <div class="div1"></div>
                        </div>
                        <div class="content-container3">
                            <h3>We're Open Source!</Darkan></h3>
                            <strong><p>If you're a developer of any experience level, help build the Darkan community by <a href="https://github.com/orgs/DarkanRS/repositories" target="_blank" rel="noopener noreferrer" class="cta-developers">contributing code!</a></p></strong>
                            <div class="div2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="banner-cta-container">
    <div class="banner-cta-wrapper">
        <div class="banner-cta">
            <h2>Start your adventure</h2>
            <button class="crt-acc-btn">
                <a href="/create-account">Create Account</a>
            </button>
            <button class="disc-btn">
                <a href="/download">Download Darkan</a>
            </button>
        </div>
    </div>
</section>
<footer class="flex flex-jc-sb flex-ai-c">
    <div class="site-map flex flex-ai-c flex-jc-c">
        <p class="hide-for-mobile">Site Map</p>
        <a href="#" class="hide-for-desktop">Site Map</a>
        <div class="hide-for-mobile">
            <a href="/">Home</a>
            <a href="/create-account">Create account</a>
            <a href="/download">Download</a>
            <a href="/highscores">Highscores</a>
            <a href="/tools">Tools</a>
            <a href="/discord">Discord</a>
            <a href="/developers">Developers</a>
            <a href="/faq">FAQ</a>
        </div>        
    </div>
    <div></div>
        <a href="/">Darkan</a>
    </div>
    <div class="legal flex flex-ai-c flex-jc-c">
        <p>No in-game purchases</p>
        <p>Darkan @ 2022</p>
        <div>
            <a href="/terms">Terms</a>
            <a href="/privacy-policy">Privacy</a>
        </div>
    </div>
</footer>