<div class="top-container">
    <nav class="nav-wrapper">
        <div class="nav-container">
            <div class="player-count-container flex flex-ai-c">
                <span id="player-count"><strong>#</strong></span>
                <p>Online</p>
            </div>
            <div class="nav-links flex flex-ai-c">
                <div class="dropdown">
                    <p class="dropbtn flex flex-ai-c">Explore<i class="fas fa-caret-down dwn-arrow"></i></p>
                        <div class="dropdown-content">
                            <ul class="dropdown-links">
                                <li><a href="https://discordapp.com/invite/Z32ggEB" target="_blank" rel="noopener noreferrer">Discord</a></li>
                                <li><a href="https://github.com/orgs/DarkanRS/repositories" target="_blank" rel="noopener noreferrer" class="cta-developers">Github</a></li>
                            </ul>
                        </div>
                </div>
                <a href="/highscores">Highscores</a>
                <div class="dropdown">
                <p class="dropbtn flex flex-ai-c">Tools<i class="fas fa-caret-down dwn-arrow"></i></p>
                    <div class="dropdown-content">
                        <ul class="dropdown-links">
                            <li><a href="/world-map">World Map</a></li>
                        </ul>
                    </div>
                </div>
                <a href="/assets/uploads/files/Darkan.exe" class="cta-dwnl"><span class="material-symbols-outlined">file_download</span></a>
            </div>
        </div>
    </nav>
    <div class="main-container-hero flex flex-jc-c">
        <img src="/images/landing-page/lumbridge-lg.png" alt="runescape_2012" class="hero-img">
        <div class="sub-container-hero">
            <div class="hero">
                <h1>Darkan</h1>
                <p>Play Runescape in 2012</p>
                <div class="dwn-client">
                    <a href="/download" class="dwn-btn button-hover">Play Now</a>
                </div>
                <p id="no-igp">No in-game purchases, ever.</p>
            </div>
        </div>
    </div>
</div>
<section class="section-a-container">
    <div class="section-a-wrapper">
        <div class="section-a">
            <div class="game-content-header">
                <h2>Experience two servers in one client</h2>
                <div class="img-gradient">
                    <img src="/images/landing-page/worlds.png" class="client-image">
                </div>
                <div class="link-discord flex flex-jc-sa">
                    <p><a href="https://discordapp.com/invite/Z32ggEB" target="_blank" rel="noopener noreferrer">Join our Discord</a> to learn more about Darkan!</p>
                </div>
            </div>
            <div class="game-content-container">
                <div class="game-content-wrapper">
                    <div class="game-content">
                        <div class="content-container1">
                            <div class="content-container">
                                <div class="world1-banner">
                                    <div class="world1-container">
                                        <div class="world-container">
                                            <h3>World 1</h3>
                                            <h4>2012 Remake</h4>
                                            <p>As a complete remake, players are able to <a href="/download">play through</a> a variety of beginner to expert level skills, tasks, quests, and more exactly as it was in 2012.</p>
                                        </div>
                                        <div class="w1-image">
                                            <div>
                                                <video autoplay loop>
                                                    <source src="images/landing-page/test-video.mp4" type="video/mp4">
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="world1-list-container">
                                    <ul class="world1-list">
                                        <li>Full-game development</li>
                                        <li>QOL additions</li>
                                        <li>Constant updates</li>
                                        <li>Loyalty system</li>
                                    </ul>
                                </div>
                                <div class="mid-cta-banner">
                                    <h2>Rank from noob to #1</h2>
                                    <p>If you're all about EXP, then spectate the <a href="/highscores">highscores</a> to see who's not EXP wasting.</p>
                                </div>
                                <div class="world2-banner">
                                    <div class="world2-container">
                                        <div class="world-container">
                                            <h3>World 2</h3>
                                            <h4>Darkan RSPS</h4>
                                            <p>What happens when you take World 1's base content and add custom game features? You get World 2.</p>
                                        </div>
                                        <div class="w2-image">
                                            <video autoplay loop>
                                                <source src="images/landing-page/test-video.mp4" type="video/mp4">
                                            </video>
                                        </div>
                                    </div>
                                </div>
                                <div class="world2-list-container">
                                    <ul class="world2-list">
                                        <li>25x EXP</li>
                                        <li>Edgeville home</li>
                                        <li>Supply Shop</li>
                                        <li>Slayer Portals</li>
                                        <li>And more!</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="content-container2">
                            <div class="section-header">
                                <h2>A community project</h2>
                                <p>Darkan is an <a href="https://github.com/orgs/DarkanRS/repositories" target="_blank" rel="noopener noreferrer" class="cta-developers">open source project</a> with a communuity dedicated to bring back RuneScape in 2012.</p>
                            </div>
                        </div>
                        <div class="content-container3">
                            <div class="cta-container">
                                <h2>Play Now!</h2>
                                <a href="/download"><span class="material-symbols-outlined button-hover">download_for_offline</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="site-map">
        <div class="f-link-container">
            <div class="f-link"><a href="/">Darkan</a></div>
            <div class="f-link"><a href="/download">Download</a></div>
            <div class="f-link"><a href="/highscores">Highscores</a></div>
            <div class="f-link"><a href="https://discordapp.com/invite/Z32ggEB" target="_blank" rel="noopener noreferrer">Discord</a></div>
            <div class="f-link"><a href="https://github.com/orgs/DarkanRS/repositories" target="_blank" rel="noopener noreferrer" class="cta-developers">Developers</a></div>
            <div class="f-link"><p>No in-game purchases</p></div>
            <div class="f-link"><p>Darkan @ 2022</p></div>
        </div>        
    </div>
</footer>