<nav class="main-nav flex flex-ai-c flex-jc-sb">
    <div class="top-logo flex flex-ai-c">
        <a href="/">Darkan</a>
    </div>
    <div class="hamburger hide-for-desktop">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="flex flex-ai-c hide-for-mobile">
        <a href="/highscores">Highscores</a>
    </div>
</nav>
<div class="main-container-hero flex flex-jc-c">
    <div class="sub-container-hero">
        <div class="g1-hero">
            <h1>Darkan</h1>
            <p>Relive the greatest era of RuneScape as it was in 2012.</p>
            <div class="dwn-client">
                <a href="/download" class="dwn-btn">Download Client</a>
            </div>
            <p id="no-igp">No in-game purchases</p>
        </div>
        <div class="g2-hero-img">
            
        </div>
    </div>
</div>
<footer class="flex flex-jc-sb flex-ai-c">
    <div class="site-map flex flex-ai-c flex-jc-c">
        <a href="#" class="hide-for-desktop">Site Map</a>
        <div class="hide-for-mobile">
            <a href="/">Home</a>
            <a href="/highscores">Highscores</a>
        </div>        
    </div>
    <div></div>
        <a href="/">Darkan</a>
    </div>
    <div class="legal flex flex-ai-c flex-jc-c">
        <p>No in-game purchases</p>
        <p>Darkan @ 2022</p>
        <div>
            <a href="/terms">Terms</a>
            <a href="/privacy-policy">Privacy</a>
        </div>
    </div>
</footer>