<nav class="main-nav flex flex-ai-c flex-jc-sb">
    <div class="top-logo flex flex-ai-c">
        <a href="/">Darkan</a>
    </div>
    <div class="player-count-container flex flex-ai-c hide-for-mobile">
        <span id="player-count">100</span>
        <p>Online</p>
    </div>
    <div class="hamburger hide-for-desktop">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="flex flex-ai-c hide-for-mobile">
        <div class="dropdown">
            <p class="dropbtn flex flex-ai-c">Explore<i class="fas fa-caret-down dwn-arrow"></i></p>
                <div class="dropdown-content">
                    <ul class="dropdown-links">
                        <li><a href="/features">Features</a></li>
                        <li><a href="/guides">Guides</a></li>
                    </ul>
                </div>
        </div>
        <a href="/highscores">Highscores</a>
        <div class="dropdown">
        <p class="dropbtn flex flex-ai-c">Tools<i class="fas fa-caret-down dwn-arrow"></i></p>
            <div class="dropdown-content">
                <ul class="dropdown-links">
                    <li><a href="/ge-tracker">GE Tracker</a></li>
                    <li><a href="/skill-calculator">Skill Calculator</a></li>
                    <li><a href="/bug-reporter">Bug Reporter</a></li>
                    <li><a href="/world-map">World Map</a></li>
                    <li><a href="/api">API Documents</a></li>
                </ul>
            </div>
        </div>
        <a href="/create-account">Create account</a>
        <a href="/assets/uploads/files/Darkan.exe" class="cta-dwnl">Download</a>
    </div>
</nav>
<div class="main-container-calc-skill">
    <div class="sub-container-calc-skill">
        <div>
            <h1>Summoning Calculator</h1>
            <div class="flex flex-jc-c">
                <a href="/skill-calculator" class="button-hover">Skill Menu</a>
            </div>
        </div>
        <section class="table-data-entry-container">
            <form class="username-form-container" action="javascript:getData()">
                <input class="username-input" type="text" id="username" placeholder="Username" onfocus="this.value=''" required="">
                <input class="submit-user-button" type="submit" value="Get Stats" id="submit_user">
            </form>
            <div class="sub-table-data-entry-container">
                <div class="table-data-entry">
                    <div class="tde1">
                        <div class="exp-container">
                            <div class="flex flex-jc-c">
                                <label class="data-entry-label">Current XP</label>
                                <label class="data-entry-label">Target XP</label>
                            </div>
                            <div class="td-data-container">
                                <input class="td-data" id="cur_xp" type="number" onfocus="this.value=''" value="0" min="0" max="200000000">
                                <input class="td-data" id="target_xp" type="number" onfocus="this.value=''" value="83" min="83" max="200000000">
                            </div>
                        </div>
                        <div class="level-container">
                            <div class="flex flex-jc-c">
                                <label class="data-entry-label">Current Lvl</label>
                                <label class="data-entry-label">Target Lvl</label>
                            </div>
                            <div class="td-data-container">
                                <input class="td-data" id="cur_lvl" type="number" onfocus="this.value=''" value="1" min="1" max="120">
                                <input class="td-data" id="target_lvl" type="number" onfocus="this.value=''" value="2" min="2" max="120">
                            </div>
                        </div>
                    </div>
                    <div class="tde2">
                        <div class="bonus-container">
                            <div class="flex flex-jc-c">
                                <label class="bxp-data-entry-label"> % Bonus XP</label>
                            </div>
                            <div class="bxp-td-data-container">
                                <input class="bxp-td-data" id="xp_modifier" type="number" onfocus="this.value=''" min="0" max="999" value="0.0" step="0.1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="flex flex-jc-c">
                    <div class="list-cat flex-ai-c">
                        <div class="list-cat-container1">
                            <label class="label-list-cat">Charm Type</label>
                            <div>
                                <select class="cat-options">
                                    <option value="All">All</option>
                                    <optgroup label="Regular Charms">
                                        <option value="Gold-Charm">Gold Charm</option>
                                        <option value="Green-Charm">Green Charm</option>
                                        <option value="Crimson-Charm">Crimson Charm</option>
                                        <option value="Blue-Charm">Blue Charm</option>
                                    </optgroup>
                                    <optgroup label="Special Charms">
                                        <option value="Obsidian-Charm">Obsidian Charm</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="sub2-container-calc-data">
            <table>
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <td colspan="4" class="required-exp">
                            <span id="xp_delta">104,273,167</span>
                        </td>
                    </tr>
                    <tr class="list-header-container">
                        <th class="list-header">Amount</th>
                        <th id="content">Pouch</th>
                        <th class="list-header">Level</th>
                        <th class="list-header">XP</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="calc_data_available">
                        <td class="td-data-result">1</td>
                        <td class="td-data-result" id="content">Cow</td>
                        <td class="td-data-result">2</td>
                        <td class="td-data-result">10</td>
                    </tr>
                    <tr class="calc_data_available">
                        <td class="td-data-result">1</td>
                        <td class="td-data-result" id="content">Cow</td>
                        <td class="td-data-result">2</td>
                        <td class="td-data-result">10</td>
                    </tr>
                    <tr class="calc_data_unavailable">
                        <td class="td-data-result">1</td>
                        <td class="td-data-result" id="content">Cow</td>
                        <td class="td-data-result">2</td>
                        <td class="td-data-result">10</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer class="flex flex-jc-sb flex-ai-c">
    <div class="site-map flex flex-ai-c flex-jc-c">
        <p class="hide-for-mobile">Site Map</p>
        <a href="#" class="hide-for-desktop">Site Map</a>
        <div class="hide-for-mobile">
            <a href="/">Home</a>
            <a href="/create-account">Create account</a>
            <a href="/download">Download</a>
            <a href="/highscores">Highscores</a>
            <a href="/tools">Tools</a>
            <a href="/discord">Discord</a>
            <a href="/developers">Developers</a>
            <a href="/faq">FAQ</a>
        </div>        
    </div>
    <div></div>
        <a href="/">Darkan</a>
    </div>
    <div class="legal flex flex-ai-c flex-jc-c">
        <p>No in-game purchases</p>
        <p>Darkan @ 2022</p>
        <div>
            <a href="/terms">Terms</a>
            <a href="/privacy-policy">Privacy</a>
        </div>
    </div>
</footer>