html {
    font-size: 100%;
    width: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    *, *::before, *::after {
        box-sizing: inherit;
    }
    body {
        font-family: Aeonik, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
        line-height: 1.5;
        font-size: $font-sm;
        font-weight: 600;
        padding: 0rem;
        margin: 0rem;
        background: rgb(13,24,28);
        background: linear-gradient(0deg, rgba(13,13,13,1) 0%, rgb(21, 31, 36) 51%, rgba(13,13,13,1) 100%);
        color: rgb(222, 222, 222);
        cursor: default;

        // top nav

            // nav - padding
            nav {
                padding: 1rem;
                @include breakpoint-up (medium) {
                    padding: 1rem 2.5rem;
                }
                @include breakpoint-up (xlarge) {
                    padding: 2rem 5rem;
                }
            }
            // nav - formatting
            .nav-wrapper {
                .top-logo a {
                    font-size: $font-med;
                }
                a {
                    position: relative;
                    font-size: $font-sm;
                    margin-right: 2rem;

                    &:hover {
                        color: rgb(255, 255, 255);
                        transition: color 200ms ease-in-out;
                    }
        
                    &:last-child {
                        margin-right: 0rem;
                    }
                }
                p, #player-count {
                    color: rgb(222, 222, 222);
                }
                #player-count {
                    margin-right: .5rem;
                }
                ul {
                    margin: 0rem;
                    padding: 0rem;
                }
                li {
                    list-style-type: none;
                }

                @include breakpoint-down (x-small) {
                    display: none;
                }
            }
            .nav-container {
                display: flex;
                justify-content: center;
                p, a {
                    font-size: $font-sm;
                }
                @include breakpoint-up (medium) {
                    justify-content: space-between;
                }
            }
            .nav-links {
                margin-left: 2rem;
                @include breakpoint-up (medium) {
                    margin-left: 4rem;
                }
            }
            // dropdown - menu
            .dropbtn {
                font-size: $font-sm;
                margin: 0rem;
                color: rgb(222, 222, 222);
                cursor: pointer;

                &:hover {
                    color: rgb(255, 255, 255);
                    transition: color 200ms ease-in-out;
                }
            }
            .dropdown {
                position: relative;
                display: inline-block;
                p {
                    padding: 1rem 2rem 1rem 0rem;
                }
            }
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: rgba(255, 255, 255, 0.08);
                border: 1px solid rgba(255,255,255,0.1);
                min-width: 11rem;
                border-radius: 2.5px;
                top: 3.25rem;
                left: -1rem;
            }
            .dropdown-links {
                position: relative;
                padding: .75rem;
            }
            .dropdown-content a {
                font-size: $font-sm;
                text-align: left;
                padding: .75rem;
                display: block;
            }
            .dropdown-content p {
                font-size: $font-sm;
                text-align: left;
                margin: 0rem;
                padding: .25rem;
                text-decoration: none;
                display: block;
            } 
            .dropdown-content a:hover {
                background-color: rgb(22, 29, 32);
                border-radius: 2.5px;
                transition: background-color 200ms ease-in-out
            }
            .dropdown:hover .dropdown-content {
                display: block;
            }
            .dwn-arrow {
                margin-left: .375rem;
                margin-top: .20rem;
            }

        // footer

            footer {
                font-size: $font-sm;
                background-color: rgb(13, 13, 13);
                padding: 5vh 10vw;
                color: rgb(222, 222, 222);
                @include breakpoint-up (large) {
                    font-size: $font-sm;
                    padding: 2.5vh 5vw;
                }
                a {
                    &:hover {
                        color: white;
                    }
                }
                .site-map {
                    @include breakpoint-up (medium) {
                        display: flex;
                        justify-content: center;
                        text-align: center;
                    }
                    a, p {
                        margin-right: 0rem;
                        @include breakpoint-up (large) {
                            margin-right: 2.5rem;
                        }
                    }
                    .f-link:not(:last-child) {
                        margin-bottom: .5rem;
                        @include breakpoint-up (large) {
                            margin-bottom: 0rem;
                        }
                    }
                    .f-link-container {
                        @include breakpoint-up (large) {
                            display: flex;
                            justify-content: space-around;
                        }
                    }
                }
                .f-link {
                    padding: .25rem;
                }
            }

        // global design

            // link - design
            a, a:visited, a:hover {
                text-decoration: none;
                color: rgb(222, 222, 222);
            }
            // button & row - hover state
            .button-hover, .row-hover {
                &:hover {
                    opacity: 85%;
                    transition: opacity 200ms ease-in-out;
                }
                cursor: pointer;
            }
            // button & row - hover state (arrow cursor)
            .button-hover1, .row-hover1 {
                &:hover {
                    opacity: 85%;
                    transition: opacity 200ms ease-in-out;
                }
                cursor: auto;
            }
            // drop shadow
            .shadow-dropdown {
                box-shadow: 0px 0px 5px rgb(0, 0, 0);
            }
            // table cell design
            .calc_data_available {
                color: lightgreen;
            }
            .calc_data_unavailable {
                color: lightsalmon;
            }
        
        // utility

            // content - alignment
            .flex {
                display: flex;
                    &-jc-sb {
                        justify-content: space-between;
                    }
                    &-jc-sa {
                        justify-content: space-around;
                    }
                    &-jc-c {
                        justify-content: center;
                    }
                    &-ai-c {
                        align-items: center;
                    }
            }
            // content - visibility state
            .hide-for-mobile {
                @include breakpoint-down(medium) {
                    display: none;
                }
            }
            .hide-for-desktop {
                @include breakpoint-up(large) {
                    display: none;
                }
            }
        }
}