.main-container-highscores {
    .sub-container-highscores {

        color: rgb(222, 222, 222);

        h1 {
            font-size: $font-xmed;
            margin: 0rem;
        }
        h2 {
            margin-top: 0rem;
        }
        a:hover {
            color: white;
        }
        .skill-icon {
            height: 7rem;
        }
        #hs-overall {
            font-size: $font-xmed;
            text-align: center;

            @include breakpoint-up (large) {
                margin-bottom: 0rem;
            }
            @include breakpoint-up (large) {
                text-align: left;
                font-size: $font-xmed;
            }
        }
        .header-highscores {
            text-align: center;
        }
        .sub-header-hs {
            padding: 0rem 1rem;
            margin-bottom: 1rem;

            @include breakpoint-up (large) {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
        .filter-skill-hs, .filter-account-hs, .filter-time-hs {
            font-size: $font-sm;
            background-color: white;
            height: 2.75rem;
            width: 10rem;

            &:not(:last-child) {
                margin-right: .25rem;
            }

            @include breakpoint-up (large) {
                position: relative;
                left: 3rem;
            }
        }
        #search-user-hs {
            width: 30.4rem;
            font-size: $font-sm;
            margin-top: .5rem;
            padding: .75rem;
            border: none;
            border-radius: 2px;

            @include breakpoint-up (large) {
                margin-top: auto;
                width: auto;
            }
        }
        table {
            text-align: right;

            @include breakpoint-up (medium) {
                width: 95vw;
            }
            @include breakpoint-up (large) {
                width: 95vw;
            }
            
            th {
                padding: .75rem;
                background-color: rgb(44, 44, 44);
            }
            #rank {
                width: 5rem;
            }
            #player, #level, #exp {
                width: 10rem;
            }
            td {
                text-align: right;
                padding: .5rem;
                background-color: rgb(70, 70, 70);
            }
        }
    }
}