.top-container {
    height: 100vh
}
.main-container-hero {
    padding-top: 20vh;
    .hero-img {
        display: inline;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        z-index: -1;
        opacity: .1;
        height: 100%;
        @include breakpoint-up (large) {
            width: 100%;
            object-fit: cover;
        }
    }
    .sub-container-hero {
        // grids 1 & 2
        .hero {
            text-align: center;
            h1 {
                margin-top: 0rem;
                margin-bottom: .75rem;
                font-size: $font-lg;
                color: white;
                @include breakpoint-up (medium) {
                    font-size: $font-lg;
                }
                @include breakpoint-up (xlarge) {
                    font-size: $font-xlg;
                }
            }
            p {
                font-size: $font-xmed;
                font-weight: 600;
                color: rgb(222, 222, 222);
                margin-top: 0rem;
                padding-left: 2rem;
                padding-right: 2rem;

                @include breakpoint-up (medium) {
                    line-height: 1.25;
                    font-size: $font-xmed;
                    font-weight: 600;
                    padding: 0rem;
                }
            }
            #no-igp {
                margin-top: 2.5rem;
                font-size: $font-sm;
            }
            // client download buttons
            .dwn-client {
                margin-top: 0rem;
            }
            .dwn-btn {
                font-size: $font-sm;
                color: rgb(255, 163, 92);
                margin: 40px auto;
                background-color: rgba(255, 255, 255, 0.06);
                border: 1px solid rgba(255,255,255,0.1);
                border-radius: 5px;
                padding: 1rem 2rem;
                backdrop-filter: blur(10px);
                @include breakpoint-up (large) {
                    font-size: $font-med;
                }
            }
        }
    }
}

// Section #

.section-a-container {
    .section-a-wrapper {
        display: flex;
        justify-content: center;
        .section-a {
            width: 100vw;
            color: rgb(222, 222, 222);
            h2 {
                margin-right: 5vw;
                margin-left: 5vw;
            }
            a, a:visited, a:hover {
                text-decoration: none;
                color: rgb(255, 163, 92);
            }
            .game-content-header {
                text-align: center;
                padding: 4rem 2.5rem;
                padding-bottom: 2.5rem;
                @include breakpoint-up (medium) {
                    padding-right: 22.5vw;
                    padding-left: 22.5vw;
                }
                @include breakpoint-up (large) {
                    padding: 8rem 20vw;
                }
                @include breakpoint-up (xlarge) {
                    padding: 8rem 25vw;
                }
                h2 {
                    font-size: $font-xmed;
                    @include breakpoint-up (large) {
                        font-size: $font-lg;
                    }
                }
            }
            .game-content-container {
                .game-content-wrapper {
                    .game-content {
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        row-gap: .25rem;
                        grid-auto-rows: minmax(50px, auto);

                        // containers (individual)
                        .content-container1 {

                        }
                        .content-container2 {
                            background-color: rgba(255, 255, 255, 0.06);
                            padding: 1rem 5vw;
                            padding-bottom: 7.5vh;
                            margin-top: 7.5vh;
                            @include breakpoint-up (medium) {
                                padding-top: 2.5rem;
                                padding-bottom: 4rem;
                                margin-top: 1.5rem;
                            }
                            @include breakpoint-up (large) {
                                padding-top: 7.5rem;
                                padding-right: 2.5rem;
                                padding-bottom: 10rem;
                                padding-left: 2.5rem;
                            }
                            h2 {
                                margin-bottom: 0rem;
                            }
                        }
                        .content-container3 {
                            text-align: center;
                            .cta-container {
                                padding: 2.5rem;
                                font-size: $font-xmed;
                                @include breakpoint-up (medium) {
                                    padding: 5rem;
                                }
                                @include breakpoint-up (large) {
                                    padding: 7.5rem;
                                }
                                @include breakpoint-up (xlarge) {
                                    padding: 10rem;
                                }
                                .material-symbols-outlined {
                                    font-size: 75px;
                                    font-weight: 200 !important;
                                    color: rgb(240, 202, 138);;
                                    transition: transform 1s;
                                    @include breakpoint-up (large) {
                                        font-size: 100px;
                                    }
                                }
                                .material-symbols-outlined:hover {
                                    transform: rotate(1turn);
                                }
                                h2 {
                                    margin: 1rem;
                                }
                            }
                        }
                        
                        // containers (grouped)
                        .content-container2, .content-container3 {
                             h2 {
                                text-align: center;
                                font-size: $font-xmed;
                                @include breakpoint-up (medium) {
                                    font-size: $font-lg;
                                    margin-top: 0rem;
                                }
                            }
                            p {
                                text-align: center;
                                font-size: $font-med;
                                padding: 0rem 5vw;  
                                margin-bottom: 0rem;                               
                                @include breakpoint-up (medium) {
                                    padding: 0vh 10vw;
                                }
                                @include breakpoint-up (large) {
                                    padding: 0vh 22.5vw;
                                }
                                @include breakpoint-up (xlarge) {
                                    padding: 0vh 27.5vw;
                                }
                            }
                        }

                        // world-container
                        .world-container {
                            margin-bottom: 2.5rem;
                            h3 {
                                text-align: center;
                                font-size: $font-xmed;
                                color: rgb(240, 202, 138);
                            }
                            p {
                                text-align: center;
                                font-size: $font-med;
                                padding: 0rem 10vw 0rem 10vw;
                                margin-bottom: 0rem;
                                @include breakpoint-up (medium) {
                                    padding: 0rem 20vw 2.5rem 20vw;
                                }
                                @include breakpoint-up (large) {
                                    padding: 0rem;
                                }
                            }
                            @include breakpoint-up (large) {
                                h3, p {
                                    text-align: left;
                                }
                                h3 {
                                    margin-top: 0rem;
                                }
                                p {
                                    max-width: 30rem;
                                }
                            }
                        }
                        .world1-container {
                            @include breakpoint-up (large) {
                                padding-left: 10vw;
                            }
                            @include breakpoint-up (xlarge) {
                                padding-left: 10vw;
                            }
                        }
                        .world2-container {
                            @include breakpoint-up (large) {
                                padding-right: 10vw;
                            }
                        }

                        // world-banners (grouped)
                        .world1-banner, .world2-banner {
                            @include breakpoint-up (large) {
                                display: flex;
                                justify-content: space-around;
                                align-items: center;
                            }
                        }

                        // world-lists (grouped)
                        .world1-list, .world2-list {
                            font-size: $font-med;
                            list-style-type: none;
                            text-align: center;
                            padding: 0rem;
                            margin-top: 2.5rem;
                            margin-bottom: 0rem;
                            @include breakpoint-up (medium) {
                                margin-top: 1rem;
                                margin-bottom: 2.5rem;
                            }
                            @include breakpoint-up (large) {
                                display: flex;
                                justify-content: space-around;
                                padding: 2.5vh 2.5vw;
                                margin: 10vh 15vw;
                            }
                            li {
                                font-size: $font-med;
                                &:not(:last-child) {
                                    margin-bottom: .5rem;
                                }
                                @include breakpoint-up (large) {
                                    max-width: 2.5rem;
                                }
                                @include breakpoint-up (xlarge) {
                                    font-size: $font-xmed;
                                }
                            }
                        }

                        // world-images
                        .w1-image, .w2-image {
                            img {
                                max-width: 100%;
                                @include breakpoint-up (medium) {
                                    margin-bottom: 2.5rem;
                                }
                                @include breakpoint-up (large) {
                                    margin-bottom: 0rem;
                                }
                            }
                        }
                        .w1-image {
                            img {
                                @include breakpoint-up (large) {
                                    object-position: 5rem;
                                }
                                @include breakpoint-up (xlarge) {
                                    object-position: 10rem;
                                }
                            }  
                        }
                        .w2-image {
                            img {
                                @include breakpoint-up (large) {
                                    object-position: -5rem;
                                }
                                @include breakpoint-up (xlarge) {
                                    object-position: -10rem;
                                }
                            }  
                        }
                    }
                }
            }
        }
    }
}