.main-container-calc-skill {

    .sub-container-calc-skill {

        .skill-header {
            
            h1, p {
                display: flex;
                justify-content: left;
            }
            h1 {
                margin-bottom: 0rem;
                margin-left: 2rem;
                color: rgb(222, 222, 222);
            }
            p {
                margin-top: 0rem;
                margin-left: 2rem;
                font-size: $font-med;
                color: rgb(222, 222, 222); 
            }
            a {
                font-size: $font-sm;
                padding: 1rem 3rem;
                border: 1px solid;
                border-radius: 2px;
                border-color: rgb(37, 117, 236);
                background-color: rgb(22, 53, 99);
                cursor: pointer;
            }
        }

        // username stats table

        .username-form-container {
            display: flex;
            justify-content: center;
            margin-top: 1.75rem;
            margin-bottom: 1.75rem;

            @include breakpoint-up (large) {
                justify-content: center;
            }

            .username-input, .submit-user-button {
                border: none;
                border-radius: 2px;
                font-size: $font-sm;
                padding: .75rem 1.75rem;
                outline: none;
            }
            .submit-user-button {
                background-color: rgb(222, 222, 222);
                cursor: pointer;
            }
        }
        .table-data-entry-container {

            .sub-table-data-entry-container {
                display: flex;
                justify-content: center;
                
                .table-data-entry {

                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        padding: .25rem;
                        cursor: pointer;
                    }
                    
                    width: 95vw;
                    padding-top: 1rem;
                    padding-right: 1rem;
                    padding-bottom: 1rem;
                    padding-left: 1rem;
                    background-color: rgb(43, 68, 94);
    
                    @include breakpoint-up (medium) {
                        display: flex;
                        justify-content: space-between;
                        padding-top: 0rem;
                        padding-right: 1rem;
                        padding-bottom: 1rem;
                        padding-left: 1rem;
                    }
        
                    input {
                        font-size: $font-sm;
                        width: 5rem;
                        padding: .5rem;
                        border: none;
                        border-radius: 2px;
                        outline: none;
    
                        @include breakpoint-up (medium) {
                            width: 9.125rem;
                        }
                    }
    
                    .exp-container {
                        @include breakpoint-up (large) {
                            margin-right: .75rem;
                        }
                    }
                    .bonus-container {
                        @include breakpoint-up (medium) {
                            width: 5rem;
                        }
                    }
                    .td-data-container {
                        display: flex;
                        justify-content: center;

                        @include breakpoint-up (medium) {
                            justify-content: left;
                        }
                    }
                    .td-data {
                        width: 100%;
                        margin-right: .25rem;
                        text-align: right;
                    }
                    #xp_modifier {
                        width: 5rem;
                    }
                }
                .tde1, .tde2 {
    
                    @include breakpoint-up (medium) {
                        display: flex;
                    }
                }
                .data-entry-label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: $font-sm;
                    color: white;
                    height: 2rem;
                    width: 100%;
                    
                    border: none;
                    background-color: none;
    
                    @include breakpoint-up (medium) {
                        justify-content: right;
                        align-items: flex-end;
                        height: 2rem;
                        width: 8rem;
                    }
                }
                .bxp-data-entry-label {
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    text-align: right;
                    font-size: $font-sm;
                    height: 2rem;
                    width: 100%;
                    color: white;
                    
                    border: none;
                    background-color: none;
    
                    @include breakpoint-up (medium) {
                        justify-content: left;
                        width: 8rem;
                    }
                }
                .bxp-td-data-container {
                    display: flex;
                    justify-content: center;

                    @include breakpoint-up (medium) {
                        justify-content: left;
                    }
                    @include breakpoint-up (large) {
                        justify-content: left;
                    }
                }
                .bxp-td-data {
                    text-align: right;

                    @include breakpoint-up (medium) {
                        margin-left: 0rem;
                    }
                }
            }
        }

        // results table

        .sub2-container-calc-data {
            display: flex;
            justify-content: center;

            table {
                width: 95vw;
                padding: .5rem;
                border-collapse: collapse;
                overflow: hidden;

                #content {
                    text-align: left;
                    padding: 1rem;

                    @include breakpoint-up (medium) {
                        padding-right: 1rem;
                        padding-left: 3rem;
                    }
                }
                th {
                    font-size: $font-sm;
                    font-weight: 500;
                    color: white;
                }
                td {
                    background-color: rgb(40, 57, 80);
                    border-bottom: 1px solid rgb(63, 92, 129);
                }
                .required-exp {
                    font-size: $font-xmed;
                    text-align: center;
                    height: 6rem;
                    border: none;
                    background-color: rgb(43, 68, 94);
                    color: white;
                }
                .required-exp::after {
                    content: "XP";
                }
                .td-data-result {
                    text-align: right;
                    padding: 1rem 2rem 1rem 1rem;
                    font-size: $font-sm;

                    @include breakpoint-up (large) {
                        padding-right: 6rem;
                    }
                }
                .result-data-table {
                    display: flex;
                    justify-content: center;
                    
                    @include breakpoint-up(large){
                        margin-top: 0rem;
                    }
                }

                // category list

                .label-list-cat {
                    font-size: $font-sm;
                    font-weight: 500;
                    margin-right: .25rem;
                    padding: .40rem 1rem;
                    border-radius: 2px;
                    background-color: rgb(43, 68, 94);
                    color: white;
                }
                .list-cat {
                    display: flex;
                    justify-content: center;
                    padding: 1rem;
                    margin: 0rem;
                    background-color: rgb(31, 45, 63);

                    @include breakpoint-up (medium) {
                        justify-content: left;
                    }
                }
                .list-header-container {
                    background-color: rgb(31, 45, 63);
                }
                .list-header {
                    text-align: right;
                    padding: 1.25rem 2rem;

                    @include breakpoint-up (large) {
                        padding-right: 6rem;
                    }
                }
                .cat-options {
                    font-family: inherit;
                    font-size: inherit;
                    line-height: inherit;
                    width: 10rem;
                    height: 2.10rem;
                    padding-left: 1.5rem;
                    appearance: none;
                    outline: none;
                    border: none;
                    border-radius: 2px;
                    background-color: rgb(255, 255, 255);
                    cursor: inherit;
                }
            }
        }  
    }
}