.main-container-calc {
    h1, h2 {
        text-align: center;
        margin-top: 0rem;
    }

    h3 {
        font-size: $font-med;
        margin: 0rem;
        &:hover {
            color: white;
        }
    }
    p {
        margin-left: 1rem;
    }
    h1, h2, h3, h4, p {
        color: rgb(222, 222, 222);
    }
    ul {
        display: flex;
        justify-content: center;
        padding-left: 0rem;
    }
    li {
        display: flex;
        list-style-type: none;
        border-top: 1px solid rgb(104, 104, 104);
        border-right: 1px solid rgb(104, 104, 104);
        border-left: 1px solid rgb(104, 104, 104);

        &:last-child {
            border-bottom: 1px solid rgb(104, 104, 104);
        }
    }

    .sub-container-skills {
        width: 95vw;
        border-radius: 2px;

        .skill-container {
            background-color: rgb(66, 66, 66);

            &:hover {
                opacity: 85%;
                transition: opacity 200ms ease-in-out;
            }
        }

        .skill-icon {
            padding: 1rem;
        }
        .skill-title {
            width: 12rem;
            margin-right: 1rem;
            
            @include breakpoint-up (medium) {
                margin-right: 2rem;
                margin-left: 1rem;
            }
            @include breakpoint-up (large) {
                margin-right: 4rem;
                margin-left: 2rem;
            }
        }
        .skill-description {
            display: flex;
            align-items: center;
        }
    }
}