.main-container-calc-skill {

    .sub-container-calc-skill {

        h1 {
            text-align: center;
            margin-top: 4rem;
            color: rgb(222, 222, 222);
        }
        a {
            text-align: center;
            font-size: $font-sm;
            margin-top: 2rem;
            padding: 1rem 3rem;
            border: 1px solid;
            border-radius: 2px;
            border-color: rgb(37, 117, 236);
            background-color: rgb(22, 53, 99);
            cursor: pointer;
        }

        // username stats table

        .username-form-container {
            display: flex;
            justify-content: center;
            margin: 4rem 0rem;

            @include breakpoint-up (large) {
                justify-content: center;
            }

            .username-input, .submit-user-button {
                border: none;
                border-radius: 2px;
                font-size: $font-sm;
                padding: .75rem 1.75rem;
                outline: none;
            }
            .submit-user-button {
                color: white;
                border: 1px solid rgb(52, 116, 255);
                background-color: transparent;
                cursor: pointer;
            }
        }
        .table-data-entry-container {

            .sub-table-data-entry-container {
                display: flex;
                justify-content: center;
                
                .table-data-entry {

                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        padding: .25rem;
                        cursor: pointer;
                    }
                    
                    width: 95vw;
                    padding-top: 1rem;
                    padding-right: 1rem;
                    padding-bottom: 1rem;
                    padding-left: 1rem;
                    background-color: rgb(33, 33, 33);
    
                    @include breakpoint-up (medium) {
                        display: flex;
                        justify-content: space-between;
                        padding-top: 0rem;
                        padding-right: 1rem;
                        padding-bottom: 1rem;
                        padding-left: 1rem;
                    }
        
                    input {
                        font-size: $font-sm;
                        width: 5rem;
                        padding: .5rem;
                        border: none;
                        border-radius: 2px;
                        outline: none;
    
                        @include breakpoint-up (medium) {
                            width: 9.125rem;
                        }
                    }
                    .bonus-container {
                        @include breakpoint-up (medium) {
                            width: 5rem;
                        }
                    }
                    .td-data-container {
                        display: flex;
                        justify-content: center;

                        @include breakpoint-up (medium) {
                            justify-content: left;
                        }
                    }
                    .td-data {
                        width: 100%;
                        margin-right: .25rem;
                        text-align: right;
                        background-color: rgb(44, 44, 44);
                        color: rgb(222, 222, 222);

                        @include breakpoint-up (medium) {
                            margin-right: .75rem;
                        }
                    }
                    #xp_modifier {
                        width: 5rem;
                    }
                }
                .tde1, .tde2 {
    
                    @include breakpoint-up (medium) {
                        display: flex;
                    }
                }
                .data-entry-label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: $font-sm;
                    color: white;
                    height: 2rem;
                    width: 100%;
                    
                    border: none;
                    background-color: none;
    
                    @include breakpoint-up (medium) {
                        justify-content: left;
                        align-items: flex-end;
                        height: 2rem;
                        width: 8rem;
                    }
                }
                .bxp-data-entry-label {
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    text-align: right;
                    font-size: $font-sm;
                    height: 2rem;
                    width: 100%;
                    color: white;
                    
                    border: none;
                    background-color: none;
    
                    @include breakpoint-up (medium) {
                        justify-content: left;
                        width: 8rem;
                    }
                }
                .bxp-td-data-container {
                    display: flex;
                    justify-content: center;

                    @include breakpoint-up (medium) {
                        justify-content: left;
                    }
                    @include breakpoint-up (large) {
                        justify-content: left;
                    }
                }
                .bxp-td-data {
                    text-align: right;
                    background-color: rgb(44, 44, 44);
                    color: rgb(222, 222, 222);

                    @include breakpoint-up (medium) {
                        margin-left: 0rem;
                    }
                }
            }
        }

        // category list

        .list-cat {
            display: flex;
            justify-content: center;
            width: 95vw;
            padding: .5rem;
            border: none;
            background-color: rgb(44, 44, 44);
            color: rgb(222, 222, 222);

            .list-cat-container {
                select:first-child {
                    margin-right: .75rem;
                }
            }
            .list-cat-container1 {
                select:first-child {
                    margin-right: auto;
                }
            }
            .list-cat-container2 {
                select {
                    margin-right: .25rem;
                }
            }
            .label-list-cat {
                font-size: $font-sm;
                font-weight: 500;
                margin: .25rem;
                color: white;
            }
            .cat-options {
                font-family: inherit;
                font-size: inherit;
                line-height: inherit;
                width: 10rem;
                padding-top: .5rem;
                padding-bottom: .5rem;
                padding-left: 1.5rem;
                appearance: none;
                outline: none;
                border: none;
                border-radius: 2px;
                background-color: rgb(255, 255, 255);
                cursor: inherit;
            }
        }

        // results table

        .sub2-container-calc-data {
            display: flex;
            justify-content: center;

            table {
                width: 95vw;
                padding: .5rem;
                border-collapse: collapse;
                overflow: hidden;

                #content {
                    text-align: left;
                    padding: 1rem;

                    @include breakpoint-up (medium) {
                        padding-right: 1rem;
                        padding-left: 3rem;
                    }
                }
                th {
                    font-size: $font-sm;
                    font-weight: 500;
                    color: white;
                }
                .list-header {
                    text-align: right;
                    padding-right: 2rem;

                    @include breakpoint-up (large) {
                        padding-right: 6rem;
                    }
                }
                td {
                    border-bottom: 1px solid rgb(73, 73, 73);
                }
                .required-exp {
                    font-size: $font-xmed;
                    text-align: center;
                    height: 6rem;
                    border: none;
                    background-color: rgb(18, 18, 18);
                    color: white;
                }
                .required-exp::after {
                    content: "XP";
                }
                .td-data-result {
                    text-align: right;
                    padding: 1rem 2rem 1rem 1rem;
                    font-size: $font-sm;
                    background-color: rgb(33, 33, 33);

                    @include breakpoint-up (large) {
                        padding-right: 6rem;
                    }
                }
                .result-data-table {
                    display: flex;
                    justify-content: center;
                    
                    @include breakpoint-up(large){
                        margin-top: 0rem;
                    }
                }
            }
        }  
    }
}