.main-container-wmap {
    .sub-container-wmap {
        background-color: rgb(19, 28, 33);
        color: rgb(222, 222, 222);

        h1 {
            text-align: center;
            padding: 5rem 5vw;
            margin: 0rem;
            @include breakpoint-up (medium) {
                font-size: $font-lg;
                padding: 7.5rem 2.5rem;
            }
        }

        // canvas
        .canvas-wmap-container {
            display: flex;
            justify-content: center;

            .canvas-wmap {
                height: 100%;
                width: 100vw;
                background-color: green;
                @include breakpoint-up (large) {
                    height: 42rem;
                }
            }
        }
    }
}