html {
  font-size: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html *, html *::before, html *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 0.875rem;
  padding: 0rem;
  margin: 0rem;
  background-color: #161616;
  color: black;
  cursor: auto;
}

html body .hamburger {
  padding-right: 0rem;
  cursor: pointer;
}

html body .bar {
  display: block;
  width: 1.25rem;
  height: .125rem;
  margin: .25rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

html body nav {
  padding: 1.25rem 2rem;
}

@media (min-width: 64em) {
  html body nav {
    padding: .5rem 8rem;
  }
}

html body .main-nav .top-logo a {
  font-size: 1.25rem;
}

html body .main-nav a {
  position: relative;
  font-size: 0.875rem;
  margin-right: 2rem;
  color: #dedede;
}

html body .main-nav a:hover {
  color: white;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

html body .main-nav a:last-child {
  margin-right: 0rem;
}

html body .main-nav p, html body .main-nav #player-count {
  color: #dedede;
}

html body .main-nav #player-count {
  margin-right: .25rem;
}

html body .main-nav ul {
  margin: 0rem;
  padding: 0rem;
}

html body .main-nav li {
  list-style-type: none;
}

html body .dropbtn {
  font-size: 0.875rem;
  margin: 0rem;
  color: #dedede;
  cursor: pointer;
}

html body .dropbtn:hover {
  color: white;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

html body .dropdown {
  position: relative;
  display: inline-block;
}

html body .dropdown p {
  padding: 1rem 2rem 1rem 0rem;
}

html body .dropdown-content {
  display: none;
  position: absolute;
  background-color: #202020;
  min-width: 15rem;
  border-radius: 2.5px;
  top: 3.25rem;
  left: -1rem;
}

html body .dropdown-links {
  position: relative;
  padding: .75rem;
}

html body .dropdown-content a {
  font-size: 0.875rem;
  text-align: left;
  padding: .75rem;
  text-decoration: none;
  display: block;
}

html body .dropdown-content p {
  font-size: 0.875rem;
  text-align: left;
  margin: 0rem;
  padding: .25rem;
  text-decoration: none;
  display: block;
  color: #919191;
}

html body .dropdown-content a:hover {
  background-color: #203144;
  border-radius: 2.5px;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

html body .dropdown:hover .dropdown-content {
  display: block;
}

html body .dwn-arrow {
  margin-left: .25rem;
}

html body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #161616;
  font-size: 0.75rem;
  color: #dedede;
  padding: 1rem;
}

html body footer p {
  margin: 0rem;
}

html body footer a {
  color: #dedede;
}

html body footer a:hover {
  color: white;
}

html body footer .site-map a:not(:last-child), html body footer .legal a:not(:last-child) {
  margin-right: 1rem;
}

html body footer .site-map p, html body footer .legal p {
  margin-right: 1rem;
}

@media (min-width: 64em) {
  html body footer {
    height: auto;
  }
}

html body .header-image {
  padding: 6rem 0rem;
}

@media (min-width: 64em) {
  html body .header-image {
    padding: 10rem 0rem;
  }
}

html body .header-image-med {
  padding: 3rem 1rem 6rem 1rem;
}

@media (min-width: 64em) {
  html body .header-image-med {
    padding: 5rem 0rem;
  }
}

html body a, html body a:visited, html body a:hover {
  text-decoration: none;
  color: #dedede;
}

html body .button-hover, html body .row-hover {
  cursor: pointer;
}

html body .button-hover:hover, html body .row-hover:hover {
  opacity: 85%;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

html body .button-hover1, html body .row-hover1 {
  cursor: auto;
}

html body .button-hover1:hover, html body .row-hover1:hover {
  opacity: 85%;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

html body .shadow-dropdown {
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
}

html body .calc_data_available {
  color: lightgreen;
}

html body .calc_data_unavailable {
  color: lightsalmon;
}

html body .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body .flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html body .flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  html body .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  html body .hide-for-desktop {
    display: none;
  }
}

.main-container-hero {
  padding: 4rem 0rem 0rem 0rem;
  background-color: green;
}

@media (min-width: 64em) {
  .main-container-hero {
    padding: 10rem 0rem;
  }
}

@media (min-width: 87.5em) {
  .main-container-hero {
    padding-top: 12rem;
  }
}

.main-container-hero .sub-container-hero {
  height: 85vh;
  width: 85vw;
}

@media (min-width: 64em) {
  .main-container-hero .sub-container-hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 49vh;
  }
}

.main-container-hero .sub-container-hero .g1-hero {
  text-align: center;
}

.main-container-hero .sub-container-hero .g1-hero h1 {
  font-size: 4.5rem;
  color: white;
  margin: 0rem;
}

.main-container-hero .sub-container-hero .g1-hero h2 {
  font-size: 1.25rem;
  font-weight: 400;
  color: #dedede;
  margin-top: 0rem;
  margin-bottom: 2rem;
  width: auto;
}

@media (min-width: 64em) {
  .main-container-hero .sub-container-hero .g1-hero {
    background-color: none;
    text-align: left;
  }
  .main-container-hero .sub-container-hero .g1-hero h2 {
    line-height: 1.25;
    padding: 0rem;
    font-size: 2rem;
    font-weight: 400;
  }
  .main-container-hero .sub-container-hero .g1-hero .dwn-client {
    margin-bottom: 0rem;
  }
}

.main-container-hero .sub-container-hero .g1-hero .dwn-client {
  margin-bottom: 1.75rem;
}

.main-container-hero .sub-container-hero .g1-hero .dwn-btn {
  font-size: 0.875rem;
  padding: 1rem 4rem;
  border: none;
  border-radius: 2px;
  background-color: #263e52;
}

.main-container-hero .sub-container-hero .g1-hero .dwn-btn a {
  color: white;
}

.main-container-hero .sub-container-hero .g1-hero .material-icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container-hero .sub-container-hero .g1-hero .pf-icon {
  margin-left: .5rem;
  font-size: 16px;
}

.main-container-hero .sub-container-hero .g2-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 64em) {
  .main-container-hero .sub-container-hero .g2-form-container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.main-container-hero .sub-container-hero .g2-form-container .g2-form {
  text-align: center;
  background-color: #24282e;
  width: 22.5rem;
  height: 21.5rem;
  margin-bottom: 0rem;
  padding: 2rem 1rem;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 50px black;
          box-shadow: 0px 0px 50px black;
}

.main-container-hero .sub-container-hero .g2-form-container .g2-form a {
  color: white;
}

.main-container-hero .sub-container-hero .g2-form-container .g2-form .log-container, .main-container-hero .sub-container-hero .g2-form-container .g2-form .pass-container {
  width: 20rem;
  height: 1rem;
  padding: 1.5rem;
  border: 1.25px;
  border-color: none;
  border-radius: 2px;
  margin-bottom: .75rem;
  background-color: #1b1d22;
  color: white;
  font-size: 0.875rem;
}

.main-container-hero .sub-container-hero .g2-form-container .g2-form .forget-pass {
  margin: 1rem;
}

.main-container-hero .sub-container-hero .g2-form-container .g2-form .create-account {
  font-size: 0.875rem;
  font-weight: 500;
  width: 20rem;
  padding: 1rem;
  border: none;
  border-radius: 2px;
  background-color: #2489db;
  color: white;
  cursor: pointer;
}

.main-container-hero .sub-container-hero .g2-form-container .g2-form .cta-discord {
  padding: 1rem 3rem;
  border: none;
  border-radius: 2px;
  background-color: #4053e4;
  color: white;
  position: relative;
  top: 1rem;
}

.comm-data-container {
  background-color: blue;
}

.comm-data-container .comm-data-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (10rem)[1];
      grid-template-rows: repeat(1, 10rem);
  padding-right: 10vw;
  padding-left: 10vw;
  position: relative;
  bottom: 2rem;
}

.comm-data-container .comm-data-wrapper .comm-data {
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  background-color: lightblue;
}

.comm-data-container .comm-data-wrapper .comm-data h2 {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0rem;
}

@media (min-width: 40em) {
  .comm-data-container .comm-data-wrapper .comm-data h2 {
    font-size: 1.25rem;
  }
}

.banner-cta-container {
  background-color: lightcoral;
}

.banner-cta-container .banner-cta-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.banner-cta-container .banner-cta-wrapper .banner-cta {
  text-align: center;
  height: 12rem;
  width: 75vw;
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  background-color: lightcyan;
}

.banner-cta-container .banner-cta-wrapper .banner-cta .crt-acc-btn {
  font-size: 0.875rem;
  padding: 1rem 2rem;
  border: 1px solid grey;
  border-radius: 2px;
  background-color: lightblue;
  cursor: pointer;
}

.banner-cta-container .banner-cta-wrapper .banner-cta .crt-acc-btn a {
  color: black;
}

.banner-cta-container .banner-cta-wrapper .banner-cta .disc-btn {
  font-size: 0.875rem;
  padding: 1rem 2rem;
  border: 1px solid grey;
  border-radius: 2px;
  background-color: none;
  cursor: pointer;
}

.banner-cta-container .banner-cta-wrapper .banner-cta .disc-btn a {
  color: black;
}

.section-a-container {
  background-color: lightslategray;
}

.section-a-container .section-a-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.section-a-container .section-a-wrapper .section-a {
  width: 75vw;
}

.section-a-container .section-a-wrapper .section-a h2 {
  text-align: center;
  font-size: 3.25rem;
  color: white;
}

.section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  row-gap: 1rem;
  grid-auto-rows: minmax(50px, auto);
}

@media (min-width: 64em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}

.section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container {
  height: 20rem;
  border: none;
  border-radius: 4px;
  background-color: black;
}

.signup-main-container {
  padding: 4rem 0rem 0rem 0rem;
  min-height: 100vh;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 87.5em) {
  .signup-main-container {
    padding-top: 8rem;
  }
}

.signup-sub-container .signup-form {
  text-align: center;
  background-color: #22262c;
  width: 24rem;
  height: 29.25rem;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 50px black;
          box-shadow: 0px 0px 50px black;
}

.signup-sub-container .signup-form h1, .signup-sub-container .signup-form a, .signup-sub-container .signup-form p {
  color: #dedede;
}

.signup-sub-container .signup-form h1 {
  font-size: 24px;
}

.signup-sub-container .signup-form p {
  font-size: 0.75rem;
  margin-top: .25rem;
  color: #dedede;
}

.signup-sub-container .signup-form .username-container, .signup-sub-container .signup-form .log-container, .signup-sub-container .signup-form .pass-container, .signup-sub-container .signup-form .confirm-pass-container {
  width: 21.5rem;
  height: 1rem;
  padding: 1.5rem;
  border: 1.25px;
  border-color: none;
  border-radius: 5px;
  margin-bottom: .75rem;
  background-color: #1b1d22;
  color: white;
  font-size: 0.875rem;
}

.signup-sub-container .signup-form .forget-pass {
  margin: 1rem;
}

.signup-sub-container .signup-form .create-account {
  width: 10rem;
  padding: 1rem;
  background-color: #263e52;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
}

.signup-sub-container .signup-form .reCAPTCHA {
  position: relative;
  top: 4.5rem;
}

footer {
  background-color: #1d2025;
  font-size: 0.75rem;
  color: white;
  padding: 1rem;
}

footer p {
  margin: 0rem;
}

footer a {
  color: grey;
}

footer .site-map a:not(:last-child), footer .legal a:not(:last-child) {
  margin-right: 1rem;
}

footer .site-map p, footer .legal p {
  margin-right: 1rem;
}

@media (min-width: 64em) {
  footer {
    height: auto;
  }
}

.login-main-container {
  padding: 2rem 0rem 0rem 0rem;
  min-height: 100vh;
}

.login-main-container h1 {
  text-align: center;
  color: white;
}

.login-main-container h2 {
  margin-top: 0rem;
  color: #dedede;
}

@media (min-width: 64em) {
  .login-main-container {
    padding: 2rem 0rem;
  }
}

@media (min-width: 87.5em) {
  .login-main-container {
    padding-top: 6rem;
  }
}

.login-sub-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-sub-container .login-form {
  text-align: center;
  background-color: #24282e;
  width: 22.5rem;
  height: 24.5rem;
  border: none;
  border-radius: 5px;
  padding: 2rem 1rem;
  margin-right: auto;
  margin-bottom: 0rem;
  margin-left: auto;
  -webkit-box-shadow: 0px 0px 50px black;
          box-shadow: 0px 0px 50px black;
}

.login-sub-container .login-form a {
  color: white;
}

.login-sub-container .login-form .log-container, .login-sub-container .login-form .pass-container {
  width: 20rem;
  height: 1rem;
  padding: 1.5rem;
  border: 1.25px;
  border-color: none;
  border-radius: 5px;
  margin-bottom: .75rem;
  background-color: #1b1d22;
  color: white;
  font-size: 0.875rem;
}

.login-sub-container .login-form .forget-pass {
  margin: 1rem;
}

.login-sub-container .login-form .log-in {
  width: 20rem;
  padding: 1rem;
  color: white;
  background-color: #263e52;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
}

.login-sub-container .login-form .create-account {
  width: 10rem;
  padding: 1rem;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
}

.login-sub-container .login-form .cta-discord {
  color: white;
  position: relative;
  top: 3rem;
}

.download-main-container {
  padding: 2rem 0rem 0rem 0rem;
  min-height: 100vh;
}

.download-main-container h1 {
  text-align: center;
  color: white;
}

.download-main-container h2 {
  margin-top: 0rem;
  color: #dedede;
}

@media (min-width: 64em) {
  .download-main-container {
    padding: 2rem 0rem;
  }
}

@media (min-width: 87.5em) {
  .download-main-container {
    padding-top: 6rem;
  }
}

.download-sub-container {
  text-align: center;
  margin-top: 3rem;
}

.download-sub-container .download-client1, .download-sub-container .download-client2 {
  text-align: center;
  background-color: #24282e;
  width: 30rem;
  height: 20rem;
  border: none;
  border-radius: 5px;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0px 0px 50px black;
          box-shadow: 0px 0px 50px black;
  font-size: 1.25rem;
}

.download-sub-container .download-client1 a, .download-sub-container .download-client2 a {
  color: white;
}

@media (min-width: 40em) {
  .download-sub-container .download-client1, .download-sub-container .download-client2 {
    text-align: center;
    background-color: #24282e;
    width: 30rem;
    height: 20rem;
    border: none;
    border-radius: 5px;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    -webkit-box-shadow: 0px 0px 50px black;
            box-shadow: 0px 0px 50px black;
  }
  .download-sub-container .download-client1 a, .download-sub-container .download-client2 a {
    color: white;
  }
}

@media (min-width: 64em) {
  .download-sub-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .download-sub-container .download-client1 {
    margin-right: 6.5rem;
  }
  .download-sub-container .download-client1, .download-sub-container .download-client2 {
    text-align: center;
    background-color: #24282e;
    width: 25rem;
    height: 20rem;
    border: none;
    border-radius: 5px;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    -webkit-box-shadow: 0px 0px 50px black;
            box-shadow: 0px 0px 50px black;
  }
  .download-sub-container .download-client1 a, .download-sub-container .download-client2 a {
    color: white;
  }
}

.usr-agree {
  text-align: center;
  font-size: 0.75rem;
  color: #dedede;
  margin-bottom: 1rem;
}

@media (min-width: 64em) {
  .usr-agree {
    position: relative;
    top: 2rem;
  }
}

.terms {
  padding: 0rem 8rem;
  color: #dedede;
}

.terms h1 {
  text-align: center;
}

.privacy {
  padding: 0rem 8rem;
  color: #dedede;
}

.privacy h1 {
  text-align: center;
}

.main-container-calc h1, .main-container-calc h2 {
  text-align: center;
  margin-top: 0rem;
}

.main-container-calc h3 {
  font-size: 1.25rem;
  margin: 0rem;
}

.main-container-calc h3:hover {
  color: white;
}

.main-container-calc p {
  margin-left: 1rem;
}

.main-container-calc h1, .main-container-calc h2, .main-container-calc h3, .main-container-calc h4, .main-container-calc p {
  color: #dedede;
}

.main-container-calc ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0rem;
}

.main-container-calc li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  border-top: 1px solid #686868;
  border-right: 1px solid #686868;
  border-left: 1px solid #686868;
}

.main-container-calc li:last-child {
  border-bottom: 1px solid #686868;
}

.main-container-calc .sub-container-skills {
  width: 95vw;
  border-radius: 2px;
}

.main-container-calc .sub-container-skills .skill-container {
  background-color: #424242;
}

.main-container-calc .sub-container-skills .skill-container:hover {
  opacity: 85%;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.main-container-calc .sub-container-skills .skill-icon {
  padding: 1rem;
}

.main-container-calc .sub-container-skills .skill-title {
  width: 12rem;
  margin-right: 1rem;
}

@media (min-width: 40em) {
  .main-container-calc .sub-container-skills .skill-title {
    margin-right: 2rem;
    margin-left: 1rem;
  }
}

@media (min-width: 64em) {
  .main-container-calc .sub-container-skills .skill-title {
    margin-right: 4rem;
    margin-left: 2rem;
  }
}

.main-container-calc .sub-container-skills .skill-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container-calc-skill .sub-container-calc-skill h1 {
  text-align: center;
  margin-top: 4rem;
  color: #dedede;
}

.main-container-calc-skill .sub-container-calc-skill a {
  text-align: center;
  font-size: 0.875rem;
  margin-top: 2rem;
  padding: 1rem 3rem;
  border: 1px solid;
  border-radius: 2px;
  border-color: #2575ec;
  background-color: #163563;
  cursor: pointer;
}

.main-container-calc-skill .sub-container-calc-skill .username-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4rem 0rem;
}

@media (min-width: 64em) {
  .main-container-calc-skill .sub-container-calc-skill .username-form-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main-container-calc-skill .sub-container-calc-skill .username-form-container .username-input, .main-container-calc-skill .sub-container-calc-skill .username-form-container .submit-user-button {
  border: none;
  border-radius: 2px;
  font-size: 0.875rem;
  padding: .75rem 1.75rem;
  outline: none;
}

.main-container-calc-skill .sub-container-calc-skill .username-form-container .submit-user-button {
  color: white;
  border: 1px solid #3474ff;
  background-color: transparent;
  cursor: pointer;
}

.main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .table-data-entry {
  width: 95vw;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  background-color: #212121;
}

.main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .table-data-entry input::-webkit-outer-spin-button,
.main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .table-data-entry input::-webkit-inner-spin-button {
  padding: .25rem;
  cursor: pointer;
}

@media (min-width: 40em) {
  .main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .table-data-entry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 0rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
}

.main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .table-data-entry input {
  font-size: 0.875rem;
  width: 5rem;
  padding: .5rem;
  border: none;
  border-radius: 2px;
  outline: none;
}

@media (min-width: 40em) {
  .main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .table-data-entry input {
    width: 9.125rem;
  }
}

@media (min-width: 40em) {
  .main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .table-data-entry .bonus-container {
    width: 5rem;
  }
}

.main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .table-data-entry .td-data-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 40em) {
  .main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .table-data-entry .td-data-container {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .table-data-entry .td-data {
  width: 100%;
  margin-right: .25rem;
  text-align: right;
  background-color: #2c2c2c;
  color: #dedede;
}

@media (min-width: 40em) {
  .main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .table-data-entry .td-data {
    margin-right: .75rem;
  }
}

.main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .table-data-entry #xp_modifier {
  width: 5rem;
}

@media (min-width: 40em) {
  .main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .tde1, .main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .tde2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .data-entry-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  color: white;
  height: 2rem;
  width: 100%;
  border: none;
  background-color: none;
}

@media (min-width: 40em) {
  .main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .data-entry-label {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 2rem;
    width: 8rem;
  }
}

.main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .bxp-data-entry-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  font-size: 0.875rem;
  height: 2rem;
  width: 100%;
  color: white;
  border: none;
  background-color: none;
}

@media (min-width: 40em) {
  .main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .bxp-data-entry-label {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    width: 8rem;
  }
}

.main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .bxp-td-data-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 40em) {
  .main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .bxp-td-data-container {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media (min-width: 64em) {
  .main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .bxp-td-data-container {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .bxp-td-data {
  text-align: right;
  background-color: #2c2c2c;
  color: #dedede;
}

@media (min-width: 40em) {
  .main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .bxp-td-data {
    margin-left: 0rem;
  }
}

.main-container-calc-skill .sub-container-calc-skill .list-cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95vw;
  padding: .5rem;
  border: none;
  background-color: #2c2c2c;
  color: #dedede;
}

.main-container-calc-skill .sub-container-calc-skill .list-cat .list-cat-container select:first-child {
  margin-right: .75rem;
}

.main-container-calc-skill .sub-container-calc-skill .list-cat .list-cat-container1 select:first-child {
  margin-right: auto;
}

.main-container-calc-skill .sub-container-calc-skill .list-cat .list-cat-container2 select {
  margin-right: .25rem;
}

.main-container-calc-skill .sub-container-calc-skill .list-cat .label-list-cat {
  font-size: 0.875rem;
  font-weight: 500;
  margin: .25rem;
  color: white;
}

.main-container-calc-skill .sub-container-calc-skill .list-cat .cat-options {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 10rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1.5rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: white;
  cursor: inherit;
}

.main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table {
  width: 95vw;
  padding: .5rem;
  border-collapse: collapse;
  overflow: hidden;
}

.main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table #content {
  text-align: left;
  padding: 1rem;
}

@media (min-width: 40em) {
  .main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table #content {
    padding-right: 1rem;
    padding-left: 3rem;
  }
}

.main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table th {
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
}

.main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table .list-header {
  text-align: right;
  padding-right: 2rem;
}

@media (min-width: 64em) {
  .main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table .list-header {
    padding-right: 6rem;
  }
}

.main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table td {
  border-bottom: 1px solid #494949;
}

.main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table .required-exp {
  font-size: 2rem;
  text-align: center;
  height: 6rem;
  border: none;
  background-color: #121212;
  color: white;
}

.main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table .required-exp::after {
  content: "XP";
}

.main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table .td-data-result {
  text-align: right;
  padding: 1rem 2rem 1rem 1rem;
  font-size: 0.875rem;
  background-color: #212121;
}

@media (min-width: 64em) {
  .main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table .td-data-result {
    padding-right: 6rem;
  }
}

.main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table .result-data-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 64em) {
  .main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table .result-data-table {
    margin-top: 0rem;
  }
}

.main-container-highscores .sub-container-highscores {
  color: #dedede;
}

.main-container-highscores .sub-container-highscores h1 {
  font-size: 2rem;
  margin-top: 0rem;
}

.main-container-highscores .sub-container-highscores h2 {
  margin-top: 0rem;
}

.main-container-highscores .sub-container-highscores a:hover {
  color: white;
}

.main-container-highscores .sub-container-highscores .skill-icon {
  height: 7rem;
}

.main-container-highscores .sub-container-highscores #hs-overall {
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 64em) {
  .main-container-highscores .sub-container-highscores #hs-overall {
    margin-bottom: 0rem;
  }
}

@media (min-width: 64em) {
  .main-container-highscores .sub-container-highscores #hs-overall {
    text-align: left;
    font-size: 2rem;
  }
}

.main-container-highscores .sub-container-highscores .header-highscores {
  text-align: center;
}

.main-container-highscores .sub-container-highscores .sub-header-hs {
  padding: 0rem 1rem;
  margin-bottom: 2rem;
}

@media (min-width: 64em) {
  .main-container-highscores .sub-container-highscores .sub-header-hs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-container-highscores .sub-container-highscores .skill-icon-hs {
  height: 75px;
}

.main-container-highscores .sub-container-highscores .filter-skill-hs, .main-container-highscores .sub-container-highscores .filter-account-hs, .main-container-highscores .sub-container-highscores .filter-time-hs {
  font-size: 0.875rem;
  background-color: white;
  height: 2.75rem;
  width: 10rem;
  cursor: pointer;
}

.main-container-highscores .sub-container-highscores .filter-skill-hs:not(:last-child), .main-container-highscores .sub-container-highscores .filter-account-hs:not(:last-child), .main-container-highscores .sub-container-highscores .filter-time-hs:not(:last-child) {
  margin-right: .25rem;
}

@media (min-width: 64em) {
  .main-container-highscores .sub-container-highscores .filter-skill-hs, .main-container-highscores .sub-container-highscores .filter-account-hs, .main-container-highscores .sub-container-highscores .filter-time-hs {
    position: relative;
    left: 3rem;
  }
}

.main-container-highscores .sub-container-highscores select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  padding: 0rem 1rem;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.main-container-highscores .sub-container-highscores .filter-option-container {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
}

.main-container-highscores .sub-container-highscores #search-user-hs {
  width: 30.4rem;
  font-size: 0.875rem;
  margin-top: .25rem;
  padding: .75rem;
  border: none;
  border-radius: 2px;
  outline: none;
}

@media (min-width: 64em) {
  .main-container-highscores .sub-container-highscores #search-user-hs {
    margin-top: auto;
    width: auto;
  }
}

.main-container-highscores .sub-container-highscores table {
  text-align: right;
  border-spacing: 1px;
}

@media (min-width: 40em) {
  .main-container-highscores .sub-container-highscores table {
    width: 95vw;
  }
}

.main-container-highscores .sub-container-highscores table th {
  height: 3rem;
  padding: .75rem;
  background-color: #2c2c2c;
}

.main-container-highscores .sub-container-highscores table td {
  height: 3rem;
  text-align: right;
  padding: .5rem;
  background-color: #464646;
}

.main-container-highscores .sub-container-highscores table #rank {
  width: 5rem;
}

.main-container-highscores .sub-container-highscores table #player, .main-container-highscores .sub-container-highscores table #level, .main-container-highscores .sub-container-highscores table #exp {
  width: 10rem;
}

.main-container-highscores .sub-container-highscores table #player {
  text-align: left;
  padding-left: 1rem;
}

@media (min-width: 40em) {
  .main-container-highscores .sub-container-highscores table #player {
    padding-left: 2rem;
  }
}

.main-container-highscores .sub-container-highscores table .player-hs {
  text-align: right;
}

.main-container-highscores .sub-container-highscores .pagination-container {
  margin-top: 1rem;
}

.main-container-highscores .sub-container-highscores .pagination-container ul {
  padding-left: 0rem;
  list-style: none;
}

.main-container-highscores .sub-container-highscores .pagination-container .prev-next {
  position: relative;
  bottom: .05rem;
  padding: .5rem .75rem;
  cursor: pointer;
  cursor: pointer;
}

.main-container-highscores .sub-container-highscores .pagination-container .prev-next:hover {
  opacity: 70%;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.main-container-highscores .sub-container-highscores .pagination-container a {
  background-color: none;
  border: solid 1px;
  border-color: grey;
  border-radius: 2px;
  padding: .5rem .75rem;
}

.main-container-highscores .sub-container-highscores .pagination-container a:hover {
  background-color: #797979;
  border-radius: 2px;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.main-container-highscores .sub-container-highscores .pagination-container .active {
  background-color: #0026ff;
}

.main-container-highscores .sub-container-highscores .pagination-container .page-dots {
  padding: .3525rem .55rem;
}

.main-container-highscores-player .sub-container-highscores-player {
  color: #dedede;
}

.main-container-highscores-player .sub-container-highscores-player h1 {
  font-size: 3.25rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.main-container-highscores-player .sub-container-highscores-player h2 {
  font-size: 2rem;
  margin-top: 0rem;
}

.main-container-highscores-player .sub-container-highscores-player a:hover {
  color: white;
}

.main-container-highscores-player .sub-container-highscores-player .skill-icon {
  height: 7rem;
}

.main-container-highscores-player .sub-container-highscores-player #hs-overall {
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 64em) {
  .main-container-highscores-player .sub-container-highscores-player #hs-overall {
    margin-bottom: 0rem;
  }
}

@media (min-width: 64em) {
  .main-container-highscores-player .sub-container-highscores-player #hs-overall {
    text-align: left;
    font-size: 2rem;
  }
}

.main-container-highscores-player .sub-container-highscores-player .header-highscores-player {
  text-align: center;
}

.main-container-highscores-player .sub-container-highscores-player .header-highscores-player #player-rank::before {
  content: "Rank #";
}

.main-container-highscores-player .sub-container-highscores-player .sub-header-hs {
  padding: 0rem 1rem;
  margin-bottom: 2rem;
}

@media (min-width: 64em) {
  .main-container-highscores-player .sub-container-highscores-player .sub-header-hs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-container-highscores-player .sub-container-highscores-player .skill-icon-hs {
  height: 75px;
}

.main-container-highscores-player .sub-container-highscores-player .filter-skill-hs, .main-container-highscores-player .sub-container-highscores-player .filter-account-hs, .main-container-highscores-player .sub-container-highscores-player .filter-time-hs {
  font-size: 0.875rem;
  background-color: white;
  height: 2.75rem;
  width: 10rem;
  cursor: pointer;
}

.main-container-highscores-player .sub-container-highscores-player .filter-skill-hs:not(:last-child), .main-container-highscores-player .sub-container-highscores-player .filter-account-hs:not(:last-child), .main-container-highscores-player .sub-container-highscores-player .filter-time-hs:not(:last-child) {
  margin-right: .25rem;
}

@media (min-width: 64em) {
  .main-container-highscores-player .sub-container-highscores-player .filter-skill-hs, .main-container-highscores-player .sub-container-highscores-player .filter-account-hs, .main-container-highscores-player .sub-container-highscores-player .filter-time-hs {
    position: relative;
    left: 3rem;
  }
}

.main-container-highscores-player .sub-container-highscores-player select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  padding: 0rem 1rem;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.main-container-highscores-player .sub-container-highscores-player .filter-option-container {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
}

.main-container-highscores-player .sub-container-highscores-player #search-user-hs {
  width: 30.4rem;
  font-size: 0.875rem;
  margin-top: .25rem;
  padding: .75rem;
  border: none;
  border-radius: 2px;
  outline: none;
}

@media (min-width: 64em) {
  .main-container-highscores-player .sub-container-highscores-player #search-user-hs {
    margin-top: auto;
    width: auto;
  }
}

.main-container-highscores-player .sub-container-highscores-player table {
  text-align: right;
  border-spacing: 1px;
}

@media (min-width: 40em) {
  .main-container-highscores-player .sub-container-highscores-player table {
    width: 95vw;
  }
}

.main-container-highscores-player .sub-container-highscores-player table th {
  height: 3rem;
  padding: .75rem;
  background-color: #2c2c2c;
}

.main-container-highscores-player .sub-container-highscores-player table td {
  height: 3rem;
  text-align: right;
  padding: .5rem;
  background-color: #464646;
}

.main-container-highscores-player .sub-container-highscores-player table td img {
  margin-right: 1rem;
}

.main-container-highscores-player .sub-container-highscores-player table #rank {
  width: 5rem;
}

.main-container-highscores-player .sub-container-highscores-player table #player, .main-container-highscores-player .sub-container-highscores-player table #level, .main-container-highscores-player .sub-container-highscores-player table #exp {
  width: 10rem;
}

.main-container-highscores-player .sub-container-highscores-player table #player {
  text-align: left;
  padding-left: 1rem;
}

@media (min-width: 40em) {
  .main-container-highscores-player .sub-container-highscores-player table #player {
    padding-left: 1rem;
  }
}

.main-container-highscores-player .sub-container-highscores-player table .player-hs {
  text-align: right;
}

.main-container-wmap .sub-container-wmap {
  background-color: #418686;
  color: #dedede;
}

.main-container-wmap .sub-container-wmap .header-wmap {
  text-align: center;
  padding: 3rem;
  margin-bottom: 1rem;
  background-color: #314e4e;
}

.main-container-wmap .sub-container-wmap .header-wmap h1 {
  margin: 0rem;
}

.main-container-wmap .sub-container-wmap .canvas-wmap-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container-wmap .sub-container-wmap .canvas-wmap-container .canvas-wmap {
  height: 30rem;
  width: 95vw;
  margin-bottom: 1rem;
  background-color: #182525;
}

@media (min-width: 64em) {
  .main-container-wmap .sub-container-wmap .canvas-wmap-container .canvas-wmap {
    height: 42rem;
  }
}
/*# sourceMappingURL=styles.css.map */