html {
  font-size: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html *, html *::before, html *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html body {
  font-family: Aeonik, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0rem;
  margin: 0rem;
  background: #0d181c;
  background: -webkit-gradient(linear, left bottom, left top, from(#0d181c), color-stop(51%, #213944), to(#0d181c));
  background: linear-gradient(0deg, #0d181c 0%, #213944 51%, #0d181c 100%);
  color: #dedede;
  cursor: default;
}

html body nav {
  padding: 1rem;
}

@media (min-width: 40em) {
  html body nav {
    padding: 1rem 2rem;
  }
}

@media (min-width: 64em) {
  html body nav {
    padding: 1rem 2rem;
  }
}

@media (min-width: 87.5em) {
  html body nav {
    padding: 1rem 4rem;
  }
}

html body .nav-wrapper .top-logo a {
  font-size: 1.25rem;
}

html body .nav-wrapper a {
  position: relative;
  font-size: 0.875rem;
  margin-right: 2rem;
}

html body .nav-wrapper a:hover {
  color: white;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

html body .nav-wrapper a:last-child {
  margin-right: 0rem;
}

html body .nav-wrapper p, html body .nav-wrapper #player-count {
  color: #dedede;
}

html body .nav-wrapper #player-count {
  margin-right: .5rem;
}

html body .nav-wrapper ul {
  margin: 0rem;
  padding: 0rem;
}

html body .nav-wrapper li {
  list-style-type: none;
}

@media (max-width: 29.9999em) {
  html body .nav-wrapper {
    display: none;
  }
}

html body .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .nav-container p, html body .nav-container a {
  font-size: 0.875rem;
}

@media (min-width: 40em) {
  html body .nav-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

html body .nav-links {
  margin-left: 2rem;
}

@media (min-width: 40em) {
  html body .nav-links {
    margin-left: 4rem;
  }
}

html body .dropbtn {
  font-size: 0.875rem;
  margin: 0rem;
  color: #dedede;
  cursor: pointer;
}

html body .dropbtn:hover {
  color: white;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

html body .dropdown {
  position: relative;
  display: inline-block;
}

html body .dropdown p {
  padding: 1rem 2rem 1rem 0rem;
}

html body .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.116);
  border: 1px solid rgba(255, 255, 255, 0.1);
  min-width: 11rem;
  border-radius: 2.5px;
  top: 3.25rem;
  left: -1rem;
}

html body .dropdown-links {
  position: relative;
  padding: .75rem;
}

html body .dropdown-content a {
  font-size: 0.875rem;
  text-align: left;
  padding: .75rem;
  display: block;
}

html body .dropdown-content p {
  font-size: 0.875rem;
  text-align: left;
  margin: 0rem;
  padding: .25rem;
  text-decoration: none;
  display: block;
}

html body .dropdown-content a:hover {
  background-color: #212b30;
  border-radius: 2.5px;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

html body .dropdown:hover .dropdown-content {
  display: block;
}

html body .dwn-arrow {
  margin-left: .375rem;
  margin-top: .20rem;
}

html body footer {
  font-size: 0.875rem;
  background-color: #141414;
  padding: 5vh 10vw;
  color: #dedede;
}

@media (min-width: 64em) {
  html body footer {
    font-size: 0.875rem;
    padding: 2.5vh 5vw;
  }
}

html body footer a:hover {
  color: white;
}

@media (min-width: 40em) {
  html body footer .site-map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

html body footer .site-map a, html body footer .site-map p {
  margin-right: 0rem;
}

@media (min-width: 64em) {
  html body footer .site-map a, html body footer .site-map p {
    margin-right: 2.5rem;
  }
}

html body footer .site-map .f-link:not(:last-child) {
  margin-bottom: .5rem;
}

@media (min-width: 64em) {
  html body footer .site-map .f-link:not(:last-child) {
    margin-bottom: 0rem;
  }
}

@media (min-width: 64em) {
  html body footer .site-map .f-link-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

html body footer .f-link {
  padding: .25rem;
}

html body a, html body a:visited, html body a:hover {
  text-decoration: none;
  color: #dedede;
}

html body .button-hover, html body .row-hover {
  cursor: pointer;
}

html body .button-hover:hover, html body .row-hover:hover {
  opacity: 85%;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

html body .button-hover1, html body .row-hover1 {
  cursor: auto;
}

html body .button-hover1:hover, html body .row-hover1:hover {
  opacity: 85%;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

html body .shadow-dropdown {
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
}

html body .calc_data_available {
  color: lightgreen;
}

html body .calc_data_unavailable {
  color: lightsalmon;
}

html body .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body .flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html body .flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  html body .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  html body .hide-for-desktop {
    display: none;
  }
}

.top-container {
  height: 100vh;
}

.main-container-hero {
  padding-top: 20vh;
}

.main-container-hero .hero-img {
  display: inline;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  opacity: .1;
  height: 100%;
}

@media (min-width: 64em) {
  .main-container-hero .hero-img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.main-container-hero .sub-container-hero .hero {
  text-align: center;
}

.main-container-hero .sub-container-hero .hero h1 {
  margin-top: 0rem;
  margin-bottom: .75rem;
  font-size: 3.25rem;
  color: white;
}

@media (min-width: 40em) {
  .main-container-hero .sub-container-hero .hero h1 {
    font-size: 3.25rem;
  }
}

@media (min-width: 87.5em) {
  .main-container-hero .sub-container-hero .hero h1 {
    font-size: 4.5rem;
  }
}

.main-container-hero .sub-container-hero .hero p {
  font-size: 2rem;
  font-weight: 600;
  color: #dedede;
  margin-top: 0rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 40em) {
  .main-container-hero .sub-container-hero .hero p {
    line-height: 1.25;
    font-size: 2rem;
    font-weight: 600;
    padding: 0rem;
  }
}

.main-container-hero .sub-container-hero .hero #no-igp {
  margin-top: 2.5rem;
  font-size: 0.875rem;
}

.main-container-hero .sub-container-hero .hero .dwn-client {
  margin-top: 0rem;
}

.main-container-hero .sub-container-hero .hero .dwn-btn {
  font-size: 0.875rem;
  color: #ffa35c;
  margin: 40px auto;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 1rem 2rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

@media (min-width: 64em) {
  .main-container-hero .sub-container-hero .hero .dwn-btn {
    font-size: 1.25rem;
  }
}

.section-a-container .section-a-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-a-container .section-a-wrapper .section-a {
  width: 100vw;
  color: #dedede;
}

.section-a-container .section-a-wrapper .section-a h2 {
  margin-right: 5vw;
  margin-left: 5vw;
}

.section-a-container .section-a-wrapper .section-a a, .section-a-container .section-a-wrapper .section-a a:visited, .section-a-container .section-a-wrapper .section-a a:hover {
  text-decoration: none;
  color: #ffa35c;
}

.section-a-container .section-a-wrapper .section-a .game-content-header {
  text-align: center;
  padding: 4rem 2.5rem;
  padding-bottom: 2.5rem;
}

@media (min-width: 40em) {
  .section-a-container .section-a-wrapper .section-a .game-content-header {
    padding-right: 22.5vw;
    padding-left: 22.5vw;
  }
}

@media (min-width: 64em) {
  .section-a-container .section-a-wrapper .section-a .game-content-header {
    padding: 8rem 20vw;
  }
}

@media (min-width: 87.5em) {
  .section-a-container .section-a-wrapper .section-a .game-content-header {
    padding: 8rem 25vw;
  }
}

.section-a-container .section-a-wrapper .section-a .game-content-header h2 {
  font-size: 2rem;
}

@media (min-width: 64em) {
  .section-a-container .section-a-wrapper .section-a .game-content-header h2 {
    font-size: 3.25rem;
  }
}

.section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  row-gap: .25rem;
  grid-auto-rows: minmax(50px, auto);
}

.section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container2 {
  background-color: rgba(255, 255, 255, 0.06);
  padding: 1rem 5vw;
  padding-bottom: 7.5vh;
  margin-top: 7.5vh;
}

@media (min-width: 40em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container2 {
    padding-top: 2.5rem;
    padding-bottom: 4rem;
    margin-top: 1.5rem;
  }
}

@media (min-width: 64em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container2 {
    padding-top: 7.5rem;
    padding-right: 2.5rem;
    padding-bottom: 10rem;
    padding-left: 2.5rem;
  }
}

.section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container2 h2 {
  margin-bottom: 0rem;
}

.section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container3 {
  text-align: center;
}

.section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container3 .cta-container {
  padding: 2.5rem;
  font-size: 2rem;
}

@media (min-width: 40em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container3 .cta-container {
    padding: 5rem;
  }
}

@media (min-width: 64em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container3 .cta-container {
    padding: 7.5rem;
  }
}

@media (min-width: 87.5em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container3 .cta-container {
    padding: 10rem;
  }
}

.section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container3 .cta-container .material-symbols-outlined {
  font-size: 75px;
  font-weight: 200 !important;
  color: #f0ca8a;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

@media (min-width: 64em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container3 .cta-container .material-symbols-outlined {
    font-size: 100px;
  }
}

.section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container3 .cta-container .material-symbols-outlined:hover {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

.section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container3 .cta-container h2 {
  margin: 1rem;
}

.section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container2 h2, .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container3 h2 {
  text-align: center;
  font-size: 2rem;
}

@media (min-width: 40em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container2 h2, .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container3 h2 {
    font-size: 3.25rem;
    margin-top: 0rem;
  }
}

.section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container2 p, .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container3 p {
  text-align: center;
  font-size: 1.25rem;
  padding: 0rem 5vw;
  margin-bottom: 0rem;
}

@media (min-width: 40em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container2 p, .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container3 p {
    padding: 0vh 10vw;
  }
}

@media (min-width: 64em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container2 p, .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container3 p {
    padding: 0vh 22.5vw;
  }
}

@media (min-width: 87.5em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container2 p, .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .content-container3 p {
    padding: 0vh 27.5vw;
  }
}

.section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world-container {
  margin-bottom: 2.5rem;
}

.section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world-container h3 {
  text-align: center;
  font-size: 2rem;
  color: #f0ca8a;
}

.section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world-container p {
  text-align: center;
  font-size: 1.25rem;
  padding: 0rem 10vw 0rem 10vw;
  margin-bottom: 0rem;
}

@media (min-width: 40em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world-container p {
    padding: 0rem 20vw 2.5rem 20vw;
  }
}

@media (min-width: 64em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world-container p {
    padding: 0rem;
  }
}

@media (min-width: 64em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world-container h3, .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world-container p {
    text-align: left;
  }
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world-container h3 {
    margin-top: 0rem;
  }
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world-container p {
    max-width: 30rem;
  }
}

@media (min-width: 64em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world1-container {
    padding-left: 10vw;
  }
}

@media (min-width: 87.5em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world1-container {
    padding-left: 10vw;
  }
}

@media (min-width: 64em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world2-container {
    padding-right: 10vw;
  }
}

@media (min-width: 64em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world1-banner, .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world2-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world1-list, .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world2-list {
  font-size: 1.25rem;
  list-style-type: none;
  text-align: center;
  padding: 0rem;
  margin-top: 2.5rem;
  margin-bottom: 0rem;
}

@media (min-width: 40em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world1-list, .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world2-list {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 64em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world1-list, .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world2-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 2.5vh 2.5vw;
    margin: 10vh 15vw;
  }
}

.section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world1-list li, .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world2-list li {
  font-size: 1.25rem;
}

.section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world1-list li:not(:last-child), .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world2-list li:not(:last-child) {
  margin-bottom: .5rem;
}

@media (min-width: 64em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world1-list li, .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world2-list li {
    max-width: 2.5rem;
  }
}

@media (min-width: 87.5em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world1-list li, .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .world2-list li {
    font-size: 2rem;
  }
}

.section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .w1-image img, .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .w2-image img {
  max-width: 100%;
}

@media (min-width: 40em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .w1-image img, .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .w2-image img {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 64em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .w1-image img, .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .w2-image img {
    margin-bottom: 0rem;
  }
}

@media (min-width: 64em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .w1-image img {
    -o-object-position: 5rem;
       object-position: 5rem;
  }
}

@media (min-width: 87.5em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .w1-image img {
    -o-object-position: 10rem;
       object-position: 10rem;
  }
}

@media (min-width: 64em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .w2-image img {
    -o-object-position: -5rem;
       object-position: -5rem;
  }
}

@media (min-width: 87.5em) {
  .section-a-container .section-a-wrapper .section-a .game-content-container .game-content-wrapper .game-content .w2-image img {
    -o-object-position: -10rem;
       object-position: -10rem;
  }
}

.signup-main-container {
  padding: 4rem 0rem 0rem 0rem;
  min-height: 100vh;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 87.5em) {
  .signup-main-container {
    padding-top: 8rem;
  }
}

.signup-sub-container .signup-form {
  text-align: center;
  background-color: #22262c;
  width: 24rem;
  height: 29.25rem;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 50px black;
          box-shadow: 0px 0px 50px black;
}

.signup-sub-container .signup-form h1, .signup-sub-container .signup-form a, .signup-sub-container .signup-form p {
  color: #dedede;
}

.signup-sub-container .signup-form h1 {
  font-size: 24px;
}

.signup-sub-container .signup-form p {
  font-size: 0.75rem;
  margin-top: .25rem;
  color: #dedede;
}

.signup-sub-container .signup-form .username-container, .signup-sub-container .signup-form .log-container, .signup-sub-container .signup-form .pass-container, .signup-sub-container .signup-form .confirm-pass-container {
  width: 21.5rem;
  height: 1rem;
  padding: 1.5rem;
  border: 1.25px;
  border-color: none;
  border-radius: 5px;
  margin-bottom: .75rem;
  background-color: #1b1d22;
  color: white;
  font-size: 0.875rem;
}

.signup-sub-container .signup-form .forget-pass {
  margin: 1rem;
}

.signup-sub-container .signup-form .create-account {
  width: 10rem;
  padding: 1rem;
  background-color: #263e52;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
}

.signup-sub-container .signup-form .reCAPTCHA {
  position: relative;
  top: 4.5rem;
}

footer {
  background-color: #1d2025;
  font-size: 0.75rem;
  color: white;
  padding: 1rem;
}

footer p {
  margin: 0rem;
}

footer a {
  color: grey;
}

footer .site-map a:not(:last-child), footer .legal a:not(:last-child) {
  margin-right: 1rem;
}

footer .site-map p, footer .legal p {
  margin-right: 1rem;
}

@media (min-width: 64em) {
  footer {
    height: auto;
  }
}

.login-main-container {
  padding: 2rem 0rem 0rem 0rem;
  min-height: 100vh;
}

.login-main-container h1 {
  text-align: center;
  color: white;
}

.login-main-container h2 {
  margin-top: 0rem;
  color: #dedede;
}

@media (min-width: 64em) {
  .login-main-container {
    padding: 2rem 0rem;
  }
}

@media (min-width: 87.5em) {
  .login-main-container {
    padding-top: 6rem;
  }
}

.login-sub-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-sub-container .login-form {
  text-align: center;
  background-color: #24282e;
  width: 22.5rem;
  height: 24.5rem;
  border: none;
  border-radius: 5px;
  padding: 2rem 1rem;
  margin-right: auto;
  margin-bottom: 0rem;
  margin-left: auto;
  -webkit-box-shadow: 0px 0px 50px black;
          box-shadow: 0px 0px 50px black;
}

.login-sub-container .login-form a {
  color: white;
}

.login-sub-container .login-form .log-container, .login-sub-container .login-form .pass-container {
  width: 20rem;
  height: 1rem;
  padding: 1.5rem;
  border: 1.25px;
  border-color: none;
  border-radius: 5px;
  margin-bottom: .75rem;
  background-color: #1b1d22;
  color: white;
  font-size: 0.875rem;
}

.login-sub-container .login-form .forget-pass {
  margin: 1rem;
}

.login-sub-container .login-form .log-in {
  width: 20rem;
  padding: 1rem;
  color: white;
  background-color: #263e52;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
}

.login-sub-container .login-form .create-account {
  width: 10rem;
  padding: 1rem;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
}

.login-sub-container .login-form .cta-discord {
  color: white;
  position: relative;
  top: 3rem;
}

.download-main-container {
  padding: 2rem 0rem 0rem 0rem;
  min-height: 100vh;
}

@media (min-width: 64em) {
  .download-main-container {
    padding: 6rem 0rem;
  }
}

.download-main-container h1 {
  font-size: 2rem;
  text-align: center;
  color: white;
  margin-right: 15vw;
  margin-left: 15vw;
}

@media (min-width: 40em) {
  .download-main-container h1 {
    font-size: 3.25rem;
    margin-bottom: 5rem;
    margin-right: 25vw;
    margin-left: 25vw;
  }
}

@media (min-width: 64em) {
  .download-main-container h1 {
    margin-right: 35vw;
    margin-left: 35vw;
  }
}

@media (min-width: 87.5em) {
  .download-main-container h1 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-right: 40vw;
    margin-left: 40vw;
  }
}

.download-main-container h2 {
  font-size: 1.25rem;
  margin: 0rem;
  color: white;
}

.download-sub-container {
  text-align: center;
  margin-top: 3rem;
}

@media (min-width: 64em) {
  .download-sub-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .download-sub-container .download-client1, .download-sub-container .download-client2 {
    margin-right: 2.5rem;
  }
  .download-sub-container .download-client3 {
    margin-right: 0rem;
  }
}

@media (min-width: 87.5em) {
  .download-sub-container .download-client1, .download-sub-container .download-client2 {
    margin-right: 5rem;
  }
  .download-sub-container .download-client3 {
    margin-right: 0rem;
  }
}

.download-sub-container .download-client1, .download-sub-container .download-client2, .download-sub-container .download-client3 {
  text-align: center;
  width: 10rem;
  height: 5rem;
  -webkit-box-shadow: 0px 0px 30px black;
          box-shadow: 0px 0px 30px black;
  background-color: #10181c;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  font-size: 1.25rem;
}

.download-sub-container .download-client1 a, .download-sub-container .download-client2 a, .download-sub-container .download-client3 a {
  color: white;
}

@media (min-width: 87.5em) {
  .download-sub-container .download-client1, .download-sub-container .download-client2, .download-sub-container .download-client3 {
    width: 15rem;
    height: 14rem;
  }
}

.terms {
  padding: 0rem 8rem;
  color: #dedede;
}

.terms h1 {
  text-align: center;
}

.privacy {
  padding: 0rem 8rem;
  color: #dedede;
}

.privacy h1 {
  text-align: center;
}

.main-container-calc h1, .main-container-calc h2 {
  text-align: center;
  margin-top: 0rem;
}

.main-container-calc h3 {
  font-size: 1.25rem;
  margin: 0rem;
}

.main-container-calc h3:hover {
  color: white;
}

.main-container-calc p {
  margin-left: 1rem;
}

.main-container-calc h1, .main-container-calc h2, .main-container-calc h3, .main-container-calc h4, .main-container-calc p {
  color: #dedede;
}

.main-container-calc ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0rem;
}

.main-container-calc li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  border-top: 1px solid #686868;
  border-right: 1px solid #686868;
  border-left: 1px solid #686868;
}

.main-container-calc li:last-child {
  border-bottom: 1px solid #686868;
}

.main-container-calc .sub-container-skills {
  width: 95vw;
  border-radius: 2px;
}

.main-container-calc .sub-container-skills .skill-container {
  background-color: #424242;
}

.main-container-calc .sub-container-skills .skill-container:hover {
  opacity: 85%;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.main-container-calc .sub-container-skills .skill-icon {
  padding: 1rem;
}

.main-container-calc .sub-container-skills .skill-title {
  width: 12rem;
  margin-right: 1rem;
}

@media (min-width: 40em) {
  .main-container-calc .sub-container-skills .skill-title {
    margin-right: 2rem;
    margin-left: 1rem;
  }
}

@media (min-width: 64em) {
  .main-container-calc .sub-container-skills .skill-title {
    margin-right: 4rem;
    margin-left: 2rem;
  }
}

.main-container-calc .sub-container-skills .skill-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container-calc-skill .sub-container-calc-skill h1 {
  text-align: center;
  margin-top: 4rem;
  color: #dedede;
}

.main-container-calc-skill .sub-container-calc-skill a {
  text-align: center;
  font-size: 0.875rem;
  margin-top: 2rem;
  padding: 1rem 3rem;
  border: 1px solid;
  border-radius: 2px;
  border-color: #2575ec;
  background-color: #163563;
  cursor: pointer;
}

.main-container-calc-skill .sub-container-calc-skill .username-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4rem 0rem;
}

@media (min-width: 64em) {
  .main-container-calc-skill .sub-container-calc-skill .username-form-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main-container-calc-skill .sub-container-calc-skill .username-form-container .username-input, .main-container-calc-skill .sub-container-calc-skill .username-form-container .submit-user-button {
  border: none;
  border-radius: 2px;
  font-size: 0.875rem;
  padding: .75rem 1.75rem;
  outline: none;
}

.main-container-calc-skill .sub-container-calc-skill .username-form-container .submit-user-button {
  color: white;
  border: 1px solid #3474ff;
  background-color: transparent;
  cursor: pointer;
}

.main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .table-data-entry {
  width: 95vw;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  background-color: #212121;
}

.main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .table-data-entry input::-webkit-outer-spin-button,
.main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .table-data-entry input::-webkit-inner-spin-button {
  padding: .25rem;
  cursor: pointer;
}

@media (min-width: 40em) {
  .main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .table-data-entry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 0rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
}

.main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .table-data-entry input {
  font-size: 0.875rem;
  width: 5rem;
  padding: .5rem;
  border: none;
  border-radius: 2px;
  outline: none;
}

@media (min-width: 40em) {
  .main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .table-data-entry input {
    width: 9.125rem;
  }
}

@media (min-width: 40em) {
  .main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .table-data-entry .bonus-container {
    width: 5rem;
  }
}

.main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .table-data-entry .td-data-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 40em) {
  .main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .table-data-entry .td-data-container {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .table-data-entry .td-data {
  width: 100%;
  margin-right: .25rem;
  text-align: right;
  background-color: #2c2c2c;
  color: #dedede;
}

@media (min-width: 40em) {
  .main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .table-data-entry .td-data {
    margin-right: .75rem;
  }
}

.main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .table-data-entry #xp_modifier {
  width: 5rem;
}

@media (min-width: 40em) {
  .main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .tde1, .main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .tde2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .data-entry-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  color: white;
  height: 2rem;
  width: 100%;
  border: none;
  background-color: none;
}

@media (min-width: 40em) {
  .main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .data-entry-label {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 2rem;
    width: 8rem;
  }
}

.main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .bxp-data-entry-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  font-size: 0.875rem;
  height: 2rem;
  width: 100%;
  color: white;
  border: none;
  background-color: none;
}

@media (min-width: 40em) {
  .main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .bxp-data-entry-label {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    width: 8rem;
  }
}

.main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .bxp-td-data-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 40em) {
  .main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .bxp-td-data-container {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media (min-width: 64em) {
  .main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .bxp-td-data-container {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .bxp-td-data {
  text-align: right;
  background-color: #2c2c2c;
  color: #dedede;
}

@media (min-width: 40em) {
  .main-container-calc-skill .sub-container-calc-skill .table-data-entry-container .sub-table-data-entry-container .bxp-td-data {
    margin-left: 0rem;
  }
}

.main-container-calc-skill .sub-container-calc-skill .list-cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95vw;
  padding: .5rem;
  border: none;
  background-color: #2c2c2c;
  color: #dedede;
}

.main-container-calc-skill .sub-container-calc-skill .list-cat .list-cat-container select:first-child {
  margin-right: .75rem;
}

.main-container-calc-skill .sub-container-calc-skill .list-cat .list-cat-container1 select:first-child {
  margin-right: auto;
}

.main-container-calc-skill .sub-container-calc-skill .list-cat .list-cat-container2 select {
  margin-right: .25rem;
}

.main-container-calc-skill .sub-container-calc-skill .list-cat .label-list-cat {
  font-size: 0.875rem;
  font-weight: 500;
  margin: .25rem;
  color: white;
}

.main-container-calc-skill .sub-container-calc-skill .list-cat .cat-options {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 10rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1.5rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: white;
  cursor: inherit;
}

.main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table {
  width: 95vw;
  padding: .5rem;
  border-collapse: collapse;
  overflow: hidden;
}

.main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table #content {
  text-align: left;
  padding: 1rem;
}

@media (min-width: 40em) {
  .main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table #content {
    padding-right: 1rem;
    padding-left: 3rem;
  }
}

.main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table th {
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
}

.main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table .list-header {
  text-align: right;
  padding-right: 2rem;
}

@media (min-width: 64em) {
  .main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table .list-header {
    padding-right: 6rem;
  }
}

.main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table td {
  border-bottom: 1px solid #494949;
}

.main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table .required-exp {
  font-size: 2rem;
  text-align: center;
  height: 6rem;
  border: none;
  background-color: #121212;
  color: white;
}

.main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table .required-exp::after {
  content: "XP";
}

.main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table .td-data-result {
  text-align: right;
  padding: 1rem 2rem 1rem 1rem;
  font-size: 0.875rem;
  background-color: #212121;
}

@media (min-width: 64em) {
  .main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table .td-data-result {
    padding-right: 6rem;
  }
}

.main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table .result-data-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 64em) {
  .main-container-calc-skill .sub-container-calc-skill .sub2-container-calc-data table .result-data-table {
    margin-top: 0rem;
  }
}

.main-container-highscores {
  background-color: #131d22;
}

.main-container-highscores .sub-container-highscores {
  color: #dedede;
}

.main-container-highscores .sub-container-highscores h1 {
  font-size: 2rem;
  margin: 0rem;
  margin-bottom: 1rem;
}

@media (min-width: 40em) {
  .main-container-highscores .sub-container-highscores h1 {
    font-size: 3.25rem;
  }
}

.main-container-highscores .sub-container-highscores h2 {
  margin-top: 0rem;
}

.main-container-highscores .sub-container-highscores h3 {
  margin-top: 0rem;
}

.main-container-highscores .sub-container-highscores .header-highscores {
  text-align: center;
  padding: 5rem 2.5rem;
}

@media (min-width: 64em) {
  .main-container-highscores .sub-container-highscores .header-highscores {
    padding: 7.5rem 2.5rem;
  }
}

.main-container-highscores .sub-container-highscores a:hover {
  color: white;
}

.main-container-highscores .sub-container-highscores .skill-icon {
  height: 7rem;
}

.main-container-highscores .sub-container-highscores #hs-overall {
  font-size: 2rem;
  text-align: center;
  color: #f0ca8a;
}

@media (min-width: 64em) {
  .main-container-highscores .sub-container-highscores #hs-overall {
    margin-bottom: 0rem;
  }
}

@media (min-width: 64em) {
  .main-container-highscores .sub-container-highscores #hs-overall {
    text-align: left;
    font-size: 2rem;
  }
}

.main-container-highscores .sub-container-highscores .sub-header-hs {
  margin-right: 5vw;
  margin-left: 5vw;
  margin-bottom: 2.5rem;
}

@media (min-width: 64em) {
  .main-container-highscores .sub-container-highscores .sub-header-hs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-container-highscores .sub-container-highscores .skill-icon-hs {
  height: 75px;
}

.main-container-highscores .sub-container-highscores .filter-skill-hs, .main-container-highscores .sub-container-highscores .filter-account-hs, .main-container-highscores .sub-container-highscores .filter-time-hs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875rem;
  background-color: white;
  height: 2.75rem;
  width: 10rem;
  cursor: pointer;
}

@media (min-width: 40em) {
  .main-container-highscores .sub-container-highscores .filter-skill-hs:not(:last-child), .main-container-highscores .sub-container-highscores .filter-account-hs:not(:last-child), .main-container-highscores .sub-container-highscores .filter-time-hs:not(:last-child) {
    margin-right: .5rem;
  }
}

@media (min-width: 64em) {
  .main-container-highscores .sub-container-highscores .filter-skill-hs, .main-container-highscores .sub-container-highscores .filter-account-hs, .main-container-highscores .sub-container-highscores .filter-time-hs {
    margin-bottom: 0rem;
  }
}

.main-container-highscores .sub-container-highscores select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  padding: 0rem 1.85rem;
  margin-bottom: 1rem;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  text-align: center;
}

@media (min-width: 40em) {
  .main-container-highscores .sub-container-highscores select {
    padding: 0rem 2rem;
  }
}

@media (min-width: 40em) {
  .main-container-highscores .sub-container-highscores .select-hs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-container-highscores .sub-container-highscores .select-hs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 64em) {
  .main-container-highscores .sub-container-highscores .filter-container {
    position: relative;
    left: 2rem;
  }
}

.main-container-highscores .sub-container-highscores .filter-option-container {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
}

.main-container-highscores .sub-container-highscores #search-user-hs {
  font-size: 0.875rem;
  padding: .75rem;
  width: 10rem;
  border: none;
  border-radius: 2px;
  outline: none;
}

@media (min-width: 64em) {
  .main-container-highscores .sub-container-highscores #search-user-hs {
    margin-top: auto;
  }
}

.main-container-highscores .sub-container-highscores .hs-table table {
  -webkit-box-shadow: 5px 0px 30px black;
          box-shadow: 5px 0px 30px black;
  text-align: right;
  border-spacing: 1px;
}

@media (min-width: 40em) {
  .main-container-highscores .sub-container-highscores .hs-table table {
    width: 85vw;
  }
}

.main-container-highscores .sub-container-highscores .hs-table table th {
  height: 3rem;
  padding: .75rem;
  background-color: #0d181c;
  color: #f0ca8a;
}

.main-container-highscores .sub-container-highscores .hs-table table td {
  height: 3rem;
  text-align: right;
  padding: .5rem;
  background-color: #1f2b31;
}

.main-container-highscores .sub-container-highscores .hs-table table td p {
  margin: 0rem;
}

.main-container-highscores .sub-container-highscores .hs-table table #rank {
  width: 5rem;
}

.main-container-highscores .sub-container-highscores .hs-table table #player, .main-container-highscores .sub-container-highscores .hs-table table #level, .main-container-highscores .sub-container-highscores .hs-table table #exp {
  width: 10rem;
}

.main-container-highscores .sub-container-highscores .hs-table table #player {
  text-align: left;
  padding-left: 1rem;
}

@media (min-width: 40em) {
  .main-container-highscores .sub-container-highscores .hs-table table #player {
    padding-left: 2rem;
  }
}

.main-container-highscores .sub-container-highscores .hs-table table #player-rank {
  margin-right: 1rem;
  cursor: default;
}

.main-container-highscores .sub-container-highscores .hs-table table #player-data-ttl, .main-container-highscores .sub-container-highscores .hs-table table #player-data-exp {
  cursor: default;
}

.main-container-highscores .sub-container-highscores .hs-table table .player-hs {
  text-align: right;
}

.main-container-highscores .sub-container-highscores .pagination-container {
  padding: 1rem 0rem;
}

.main-container-highscores .sub-container-highscores .pagination-container a {
  background-color: none;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  padding: .5rem .75rem;
}

.main-container-highscores .sub-container-highscores .pagination-container a:hover {
  background-color: rgba(60, 60, 60, 0.198);
  border-radius: 2px;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.main-container-highscores .sub-container-highscores .pagination-container ul {
  padding-left: 0rem;
  list-style: none;
}

.main-container-highscores .sub-container-highscores .pagination-container .prev-next {
  position: relative;
  bottom: .05rem;
  padding: .5rem .75rem;
  cursor: pointer;
  cursor: pointer;
}

.main-container-highscores .sub-container-highscores .pagination-container .prev-next:hover {
  opacity: 70%;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.main-container-highscores .sub-container-highscores .pagination-container .active {
  background-color: rgba(19, 19, 19, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.main-container-highscores .sub-container-highscores .pagination-container .page-dots {
  padding: .3525rem .55rem;
}

.main-container-highscores-player .sub-container-highscores-player {
  color: #dedede;
}

.main-container-highscores-player .sub-container-highscores-player h1 {
  font-size: 3.25rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.main-container-highscores-player .sub-container-highscores-player h2 {
  font-size: 2rem;
  margin-top: 0rem;
}

.main-container-highscores-player .sub-container-highscores-player a:hover {
  color: white;
}

.main-container-highscores-player .sub-container-highscores-player .skill-icon {
  height: 7rem;
}

.main-container-highscores-player .sub-container-highscores-player #hs-overall {
  font-size: 2rem;
  text-align: center;
  color: #f0ca8a;
}

@media (min-width: 64em) {
  .main-container-highscores-player .sub-container-highscores-player #hs-overall {
    margin-bottom: 0rem;
  }
}

@media (min-width: 64em) {
  .main-container-highscores-player .sub-container-highscores-player #hs-overall {
    text-align: left;
    font-size: 2rem;
  }
}

.main-container-highscores-player .sub-container-highscores-player .header-highscores-player {
  text-align: center;
  padding: 7.5rem 2.5rem;
}

.main-container-highscores-player .sub-container-highscores-player .header-highscores-player #player-rank::before {
  content: "Rank #";
}

.main-container-highscores-player .sub-container-highscores-player .sub-header-hs {
  padding: 0rem 1rem;
  margin-bottom: 2rem;
}

@media (min-width: 64em) {
  .main-container-highscores-player .sub-container-highscores-player .sub-header-hs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-container-highscores-player .sub-container-highscores-player .skill-icon-hs {
  height: 75px;
}

.main-container-highscores-player .sub-container-highscores-player .filter-skill-hs, .main-container-highscores-player .sub-container-highscores-player .filter-account-hs, .main-container-highscores-player .sub-container-highscores-player .filter-time-hs {
  font-size: 0.875rem;
  background-color: white;
  height: 2.75rem;
  width: 10rem;
  cursor: pointer;
}

.main-container-highscores-player .sub-container-highscores-player .filter-skill-hs:not(:last-child), .main-container-highscores-player .sub-container-highscores-player .filter-account-hs:not(:last-child), .main-container-highscores-player .sub-container-highscores-player .filter-time-hs:not(:last-child) {
  margin-right: .25rem;
}

@media (min-width: 64em) {
  .main-container-highscores-player .sub-container-highscores-player .filter-skill-hs, .main-container-highscores-player .sub-container-highscores-player .filter-account-hs, .main-container-highscores-player .sub-container-highscores-player .filter-time-hs {
    position: relative;
    left: 3rem;
  }
}

.main-container-highscores-player .sub-container-highscores-player select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  padding: 0rem 1rem;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.main-container-highscores-player .sub-container-highscores-player .filter-option-container {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
}

.main-container-highscores-player .sub-container-highscores-player #search-user-hs {
  width: 30.4rem;
  font-size: 0.875rem;
  margin-top: .25rem;
  padding: .75rem;
  border: none;
  border-radius: 2px;
  outline: none;
}

@media (min-width: 64em) {
  .main-container-highscores-player .sub-container-highscores-player #search-user-hs {
    margin-top: auto;
    width: auto;
  }
}

.main-container-highscores-player .sub-container-highscores-player table {
  -webkit-box-shadow: 5px 0px 30px black;
          box-shadow: 5px 0px 30px black;
  text-align: right;
  border-spacing: 1px;
  width: 85vw;
  margin-bottom: 2rem;
}

.main-container-highscores-player .sub-container-highscores-player table th {
  height: 3rem;
  padding: .75rem;
  background-color: #0d181c;
  color: #f0ca8a;
  cursor: default;
}

.main-container-highscores-player .sub-container-highscores-player table td {
  height: 3rem;
  text-align: right;
  padding: .5rem;
  background-color: #1f2b31;
  cursor: default;
}

.main-container-highscores-player .sub-container-highscores-player table td #player-skill-rank {
  margin-right: 1rem;
}

.main-container-highscores-player .sub-container-highscores-player table td img {
  margin-right: 1rem;
}

.main-container-highscores-player .sub-container-highscores-player table #rank {
  width: 5rem;
}

.main-container-highscores-player .sub-container-highscores-player table #player, .main-container-highscores-player .sub-container-highscores-player table #level, .main-container-highscores-player .sub-container-highscores-player table #exp {
  width: 10rem;
}

.main-container-highscores-player .sub-container-highscores-player table #player {
  text-align: left;
  padding-left: 1rem;
}

@media (min-width: 40em) {
  .main-container-highscores-player .sub-container-highscores-player table #player {
    padding-left: 1rem;
  }
}

.main-container-highscores-player .sub-container-highscores-player table .player-hs {
  text-align: right;
}

.main-container-wmap .sub-container-wmap {
  background-color: #131c21;
  color: #dedede;
}

.main-container-wmap .sub-container-wmap h1 {
  text-align: center;
  padding: 5rem 5vw;
  margin: 0rem;
}

@media (min-width: 40em) {
  .main-container-wmap .sub-container-wmap h1 {
    font-size: 3.25rem;
    padding: 7.5rem 2.5rem;
  }
}

.main-container-wmap .sub-container-wmap .canvas-wmap-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container-wmap .sub-container-wmap .canvas-wmap-container .canvas-wmap {
  height: 100%;
  width: 100vw;
  background-color: green;
}

@media (min-width: 64em) {
  .main-container-wmap .sub-container-wmap .canvas-wmap-container .canvas-wmap {
    height: 42rem;
  }
}
/*# sourceMappingURL=styles.css.map */